// В этом файле должны быть стили для БЭМ-блока .product-tabs , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.product-tabs {
	@media screen and (min-width: $screen-xl) {
		padding-top: 65px;
	}
	@media screen and (min-width: $screen-xxl) {
		padding-top: 96px;
	}
	&--adress {
		padding-top: 45px;
		@include col(md, 12, $grid-columns, false);
		@include col(xl, 9, $grid-columns, false);
		margin-right: -8px;
		margin-left: -8px;
		@media screen and (min-width: $screen-md) {
			margin-left: -4px;
		}
		@media screen and (min-width: $screen-lg) and (max-width: $screen-xl) {
			order: 2;
		}
		@media screen and (min-width: $screen-lg) {
			padding-right: 56px;
		}
		.product-tabs__nav {
			@media screen and (min-width: $screen-md) {
				margin-bottom: 32px;
				padding-left: 45px;
				padding-right: 45px;
				flex-wrap: nowrap;
			}
			@media screen and (min-width: $screen-lg) {
				padding-left: 35px;
			}
		}
		.product-tabs__body {
			@media screen and (min-width: $screen-md) {
				padding-left: 45px;
				margin-left: -48px;
			}
			@media screen and (min-width: $screen-lg) {
				padding-left: 35px;
				margin-left: 0;
			}
		}
	}

	&__nav {
		display: flex;
		margin-bottom: 21px;
		font-size: 14px;
		overflow: auto;
		@media screen and (min-width: $screen-md) {
			flex-wrap: nowrap;
		}
		@media screen and (min-width: $screen-xl) {
			margin-bottom: 39px;
		}
	}
	&__tab {
		padding: 0 12px;
		@media screen and (min-width: $screen-md) {
			padding: 0 19px;
		}
		&.active {
			a {
				border-bottom-color: #60D3D5;
				color: #000;
			}
		}
		&:last-child {
			padding-right: 0;
			a {
				padding-right: 0;
			}
		}
	}
	&__link {
		display: block;
		font-family: $font-family--montserrat;
		font-weight: 600;
		font-size: 10px;
		text-transform: uppercase;
		line-height: (16 / 11);
		letter-spacing: 0.4px;
		padding-bottom: 7px;
		padding-right: 10px;
		border-bottom: 2px solid transparent;
		white-space: nowrap;
		color: #a0a0a0;
		&:hover {
			color: $primary-color;
		}
		@media screen and (min-width: $screen-md) {
			font-size: 11px;
		}
	}
	&__item {
		display: none;
		&.active {
			display: block;
		}
	}
	&__city {
		margin-bottom: 14px;
		padding-right: 35px;
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: 0.3px;
		white-space: nowrap;
		@media screen and (min-width: $screen-md) {
			display: inline-block;
			margin-bottom: 0;
			padding-right: 20px;
			line-height: 1.5;
			font-size: 14px;
		}
	}
}