mixin about-production()
	.about-production
		.about-production__row
			figure.col-12.col-md-6.about-production__img.about-production__img--first
				img(src="https://picsum.photos/700/280?image=1074", alt="")
			.offset-md-1.col-12.col-md-5.col-lg-4.about-production__text
				p
					| Опытные образцы проходят многочисленные испытания, которые позволяют определить их жизнеспособность и в случае необходимости внести изменения в технологический процесс.
		.about-production__row
			figure.offset-lg-2.offset-xl-3.col-xs-6.col-md-4.col-xl-3.about-production__img
				img(src="https://picsum.photos/280/?image=40", alt="")
			figure.col-xs-6.col-md-4.col-xl-3.about-production__img
				img(src="https://picsum.photos/280/?image=1084", alt=" ")
