mixin slider-product()
	.js-slider-product.slider-product
		.slider-product__item
			+product('https://picsum.photos/296/296/?image=80', 'Сапожки', false, true, false, true)
		.slider-product__item
			+product('https://picsum.photos/296/296/?image=80', 'Сапожки', false, true, false, true)
		.slider-product__item
			+product('https://picsum.photos/296/296/?image=80', 'Сапожки', false, true, false, true)
		.slider-product__item
			+product('https://picsum.photos/296/296/?image=80', 'Сапожки', false, true, false, true)
		.slider-product__item
			+product('https://picsum.photos/296/296/?image=80', 'Сапожки', false, true, false, true)
		.slider-product__item
			+product('https://picsum.photos/296/296/?image=80', 'Сапожки', false, true, false, true)
		.slider-product__item
			+product('https://picsum.photos/296/296/?image=80', 'Сапожки', false, true, false, true)
		.slider-product__item
			+product('https://picsum.photos/296/296/?image=80', 'Сапожки', false, true, false, true)
		.slider-product__item
			+product('https://picsum.photos/296/296/?image=80', 'Сапожки', false, true, false, true)
		.slider-product__item
			+product('https://picsum.photos/296/296/?image=80', 'Сапожки', false, true, false, true)
		.slider-product__item
			+product('https://picsum.photos/296/296/?image=80', 'Сапожки', false, true, false, true)
		.slider-product__item
			+product('https://picsum.photos/296/296/?image=80', 'Сапожки', false, true, false, true)
		.slider-product__item
			+product('https://picsum.photos/296/296/?image=80', 'Сапожки', false, true, false, true)
