// В этом файле должны быть стили для БЭМ-блока .slider-product , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.slider-product {
  padding-top: 60px;
  margin-left: -4px;
  margin-right: -4px;

  @media screen and (min-width: $screen-md) {
    margin-left: -24px;
    margin-right: -24px;
  }
  @media screen and (min-width: $screen-lg) {
    margin-left: -8px;
    margin-right: -8px;
  }
  @media screen and (min-width: $screen-xl) {
    margin-left: -32px;
    margin-right: -32px;
  }
  &__item {
    padding-bottom: 126px;
    margin: 0 4px;
    @media screen and (min-width: $screen-md) {
      margin: 0 24px;
    }
  }
}