// В этом файле должны быть стили для БЭМ-блока .slider-product , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.slider-product {
  padding-top: 60px;
  .slick-slide {
    > div:not(:last-of-type) {
      @media screen and (min-width: $screen-md) {
        margin-bottom: -145px;
      }
      @media screen and (min-width: $screen-lg) {
        margin-bottom: 0;
      }
    }
    padding: 0 4px 0;
    @media screen and (min-width: $screen-md) {
      padding: 0 24px 0; // отступ между слайдами
    }
    @media screen and (min-width: $screen-lg) {
      padding: 0 12px 0; // отступ между слайдами
    }
    @media screen and (min-width: $screen-xl) {
      padding: 0 16px 0;
    }
    @media screen and (min-width: $screen-xxl) {
      padding: 0 20px 0;
    }
  }
  &__item {
    padding-bottom: 126px;
  }
}