// В этом файле должны быть стили для БЭМ-блока .lookbook , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.lookbook {
	.h2 {
		font-family: $font-family--montserrat;
		font-weight: 900;

		@media screen and (min-width: $screen-md) {
			font-size: 26px;
		}
	}
}

.slider-lookbook {

	&-wrap {
		display: block;
	}
	padding-left: 16px;

	@media screen and (min-width: $screen-md) {
		padding-left: 24px;
	}

	@media screen and (min-width: $screen-lg) {
		padding-left: 12px;
	}


	@media screen and (min-width: $screen-xl) {
		padding-left: 16px;
	}

	&__item {
		display: block !important;
	}


	// &__item {
	// 	position: relative;
	// 	display: block;
	// 	width: 60vw;
	// 	min-width: 192px;
	// 	height: 296px;
	// 	margin-right: 16px;
	// 	overflow: hidden;

	// 	&:nth-child(even) {
	// 		.slider-lookbook__img {
	// 			top: 40px;
	// 			bottom: 0;
	// 		}
	// 	}

	// 	&:nth-child(odd) {
	// 		.slider-lookbook__img {
	// 			top: 0;
	// 			bottom: 40px;
	// 		}
	// 	}

	// 	&:hover,
	// 	&:focus {
	// 		.slider-lookbook__img::before {
	// 			top: 0;
	// 			opacity: 1;
	// 		}

	// 	}

	// 	@media screen and (min-width: $screen-md) {
	// 		min-width: initial;
	// 		width: 432px;
	// 		height: 602px;
	// 		margin-right: 48px;

	// 		&:nth-child(even) {
	// 			.slider-lookbook__img {
	// 				top: 90px;
	// 			}
	// 		}

	// 		&:nth-child(odd) {
	// 			.slider-lookbook__img {
	// 				bottom: 90px;
	// 			}
	// 		}
	// 	}

	// 	@media screen and (min-width: $screen-lg) {
	// 		width: 340px;
	// 		height: 496px;
	// 		margin-right: 24px;

	// 		&:nth-child(even),
	// 		&:nth-child(odd) {
	// 			.slider-lookbook__img {
	// 				top: 0;
	// 				bottom: 0;
	// 			}
	// 		}

	// 		&:nth-child(3n+2) {
	// 			width: 296px;

	// 			.slider-lookbook__img {
	// 				top: 96px;
	// 				bottom: 0;
	// 			}
	// 		}

	// 		&:nth-child(3n) {
	// 			width: 296px;

	// 			.slider-lookbook__img {
	// 				top: 0;
	// 				bottom: 96px;
	// 			}
	// 		}
	// 	}

	// 	@media screen and (min-width: $screen-xl) {
	// 		width: 460px;
	// 		height: 608px;
	// 		margin-right: 32px;

	// 		&:nth-child(3n+2),
	// 		&:nth-child(3n) {
	// 			width: 384px;
	// 		}

	// 	}

	// 	@media screen and (min-width: $screen-xxl) {
	// 		width: 408px;
	// 		height: 608px;
	// 		margin-right: 40px;

	// 		&:nth-child(3n+2),
	// 		&:nth-child(3n) {
	// 			width: 408px;

	// 			.slider-lookbook__img {
	// 				top: 0;
	// 				bottom: 0;
	// 			}
	// 		}

	// 		&:nth-child(even) {
	// 			.slider-lookbook__img {
	// 				top: 90px;
	// 				bottom: 0;
	// 			}
	// 		}

	// 		&:nth-child(odd) {
	// 			.slider-lookbook__img {
	// 				top: 0;
	// 				bottom: 90px;
	// 			}
	// 		}

	// 		&:nth-child(4n+1) {
	// 			width: 436px;

	// 			.slider-lookbook__img {
	// 				top: 0;
	// 				bottom: 0;
	// 			}

	// 		}

	// 	}

	// }

	&__description {
		position: absolute;
		z-index: 1;
		left: 16px;
		top: 150px;

		@media screen and (min-width: $screen-md) {
			left: 36px;
			top: 316px;
		}

		@media screen and (min-width: $screen-lg) {
			left: 32px;
			top: 244px;
		}

		@media screen and (min-width: $screen-xl) {
			top: 324px;
		}
	}

	&__title {
		margin-bottom: 7px;
		font-family: $font-family--montserrat;
		font-size: 13px;
		font-weight: 900;
		line-height: 1.23;
		letter-spacing: normal;
		color: #ffffff;

		span {
			display: block;
		}

		@media screen and (min-width: $screen-md) {
			margin-bottom: 13px;
			font-size: 26px;
			letter-spacing: -0.3px;
		}

		@media screen and (min-width: $screen-lg) {
			letter-spacing: normal;
			line-height: 1.31;
		}
	}

	&__subtitle {
		display: inline-block;
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 8px;
		padding-right: 8px;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.33;
		letter-spacing: 0.3px;
		background: #fff;
		color: #505050;

		@media screen and (min-width: $screen-md) {
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 14px;
			padding-right: 14px;
			font-size: 16px;
			line-height: 1.38;
			letter-spacing: 0.4px;
		}

		@media screen and (min-width: $screen-xl) {
		}
	}

	&__img {
		position: absolute;
		width: 100%;
		margin: 0;

	&::before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			top: 0;
			bottom: 0;
			opacity: 0;
			transition: top 0.4s ease-in-out, opacity 0.6s ease-in-out;
			background: linear-gradient(-180deg, rgba(96, 211, 213, 0) 50%, rgba(96, 211, 213, 0.66) 100%);
		}
	}

	.slick-slide {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		> div {
			position: relative;
			display: block;
			width: 60vw;
			min-width: 192px;
			height: 296px;
			margin-right: 16px;
			overflow: hidden;
		}

		&:nth-child(even) {
			.slider-lookbook__img {
				top: 40px;
				bottom: 0;
			}
		}

		&:nth-child(odd) {
			.slider-lookbook__img {
				top: 0;
				bottom: 40px;
			}
		}

		a:hover,
		a:focus {
			.slider-lookbook__img::before {
				top: 0;
				opacity: 1;
			}

		}

		@media screen and (min-width: $screen-md) {
			> div {
				min-width: initial;
				width: 432px;
				height: 602px;
				margin-right: 48px;
			}

			&:nth-child(even) {
				.slider-lookbook__img {
					top: 90px;
				}
			}

			&:nth-child(odd) {
				.slider-lookbook__img {
					bottom: 90px;
				}
			}
		}

		@media screen and (min-width: $screen-lg) {
			> div {
				width: 340px;
				height: 496px;
				margin-right: 24px;
			}

			&:nth-child(even),
			&:nth-child(odd) {
				.slider-lookbook__img {
					top: 0;
					bottom: 0;
				}
			}

			&:nth-child(3n+2) {
				> div {
					width: 296px;
				}

				.slider-lookbook__img {
					top: 96px;
					bottom: 0;
				}
			}

			&:nth-child(3n) {
				> div {
					width: 296px;
				}

				.slider-lookbook__img {
					top: 0;
					bottom: 96px;
				}
			}
		}

		@media screen and (min-width: $screen-xl) {
			> div {
				width: 460px;
				height: 608px;
				margin-right: 32px;
			}

			&:nth-child(3n+2),
			&:nth-child(3n) {
				> div {
					width: 384px;
				}
			}

		}

		@media screen and (min-width: $screen-xxl) {
			> div {
				width: 408px;
				height: 608px;
				margin-right: 40px;
			}

			&:nth-child(3n+2),
			&:nth-child(3n) {
				> div {
					width: 408px;
				}

				.slider-lookbook__img {
					top: 0;
					bottom: 0;
				}
			}

			&:nth-child(even) {
				.slider-lookbook__img {
					top: 90px;
					bottom: 0;
				}
			}

			&:nth-child(odd) {
				.slider-lookbook__img {
					top: 0;
					bottom: 90px;
				}
			}

			&:nth-child(4n+1) {
				> div {
					width: 436px;
				}

				.slider-lookbook__img {
					top: 0;
					bottom: 0;
				}

			}

		}

	}

}
















// .slider-lookbook {
//   margin: 0 -20px;
//   @media screen and (min-width: ($screen-xl)) {
//     display: flex;
//     justify-content: flex-end;
//   }
//   &__item {
//     padding: 0 20px;
//     outline: none;
//     &:not(:last-child) {
//       max-width: 408px;
//     }
//     &:last-child {
//       max-width: 436px;
//     }
//     &:nth-child(odd) {
//       padding-top: 96px;
//     }
//   }

// }

// .slider-lookbook {
// 	margin: 0 -20px;
// }

// @media screen and (min-width: 1200px) {
// 	.slider-lookbook {
// 		display: flex;
// 		justify-content: flex-end;
// 	}
// }
// .slider-lookbook__item {
// 	padding: 0 20px;
// 	outline: none;
// }
// .slider-lookbook__item:not(:last-child) {
// 	max-width: 408px;
// }
// .slider-lookbook__item:last-child {
// 	max-width: 436px;
// }
// .slider-lookbook__item:nth-child(odd) {
// 	padding-top: 96px;
// }
