mixin lookbook()
	.lookbook.container
		.row
			h2.h2.col-12 Лукбуки

		.row.slider-lookbook-wrap
			.js-slider-lookbook.slider-lookbook
				+lookbookSliderItem('Бизнес', 'решения', 'Обувь для деловой жизни', 'https://picsum.photos/408/512?image=155')
				+lookbookSliderItem('Красивый', 'отдых', 'Эффектные варианты для ночи', 'https://picsum.photos/408/512?image=156')
				+lookbookSliderItem('Лучшее', 'в отпуске', 'Удобно и красиво', 'https://picsum.photos/408/512?image=157')
				+lookbookSliderItem('Праздник', 'не ждет', 'Праздник не ждет', 'https://picsum.photos/408/512?image=146')
				+lookbookSliderItem('Бизнес', 'решения', 'Обувь для деловой жизни', 'https://picsum.photos/408/512?image=160')
				+lookbookSliderItem('Красивый', 'отдых', 'Эффектные варианты для ночи', 'https://picsum.photos/408/512?image=161')
				+lookbookSliderItem('Лучшее', 'в отпуске', 'Удобно и красиво', 'https://picsum.photos/408/512?image=162')
				+lookbookSliderItem('Праздник', 'не ждет', 'Праздник не ждет', 'https://picsum.photos/408/512?image=163')
				+lookbookSliderItem('Бизнес', 'решения', 'Обувь для деловой жизни', 'https://picsum.photos/408/512?image=170')
				+lookbookSliderItem('Красивый', 'отдых', 'Эффектные варианты для ночи', 'https://picsum.photos/408/512?image=171')
				+lookbookSliderItem('Лучшее', 'в отпуске', 'Удобно и красиво', 'https://picsum.photos/408/512?image=172')
				+lookbookSliderItem('Праздник', 'не ждет', 'Праздник не ждет', 'https://picsum.photos/408/512?image=173')


mixin lookbookSliderItem(titleFirstPart, titleSecondPart, subtitle, link)
	a(href="#lookbook").slider-lookbook__item
		.slider-lookbook__description
			.slider-lookbook__title
				span!= titleFirstPart
				span!= titleSecondPart
			.slider-lookbook__subtitle!= subtitle
		figure.slider-lookbook__img
			img(src=link)