// В этом файле должны быть стили для БЭМ-блока .header-promo , его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.header-promo {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100vw;
  font-family: $font-family--montserrat;
  color: #fff;
  outline: none;
  padding: 4.8% 16px 6.1%;

  &:hover {
    color: #fff;
  }

  @media screen and (min-width: $screen-md) {
    padding-top: 110px;
    padding-bottom: 112px;
    padding-left: 32px;
    padding-right: 32px;

    &:after {
      content: '';
      position: absolute;
      left: 38.6px;
      bottom: 112px;
      width: 56.25%;
      height: 16px;
      background-color: #ffffff;
    }
  }

  @media screen and (min-width: $screen-lg) {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 50px 36px 48px;

    &::after {
      left: 42.1px;
      bottom: 48px;
      width: 47.65%;
    }
  }

  @media screen and (min-width: $screen-xl) {
    padding-top: 141px;
    padding-bottom: 80px;
    padding-left: 43px;
    padding-right: 43px;

    &::after {
      left: 49.8px;
      bottom: 80px;
      width: 488px;
    }
  }
  @media screen and (min-width: $screen-xxl) {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 94px;
    padding-bottom: 112px;

    &::after {
      left: 49.8px;
      bottom: 112px;
      width: 488px;
    }
  }

  &__title {
    position: relative;
    font-size: 47px;
    font-weight: 600;
    line-height: 0.8;
    letter-spacing: -2.9px;
    text-transform: uppercase;

    @media screen and (min-width: $screen-md) {
      font-size: 105.4px;
      font-stretch: normal;
      line-height: 0.77;
      letter-spacing: -6.6px;
      padding-bottom: 124px;
    }

    @media screen and (min-width: $screen-lg) {
      flex-basis: 70%;
      font-size: 97.4px;
      // line-height: 0.7;
      letter-spacing: -6.1px;
      padding-bottom: 91px;
    }

    @media screen and (min-width: $screen-xl) {
      padding-bottom: 96px;
      font-size: 109.4px;
      line-height: 0.75;
      letter-spacing: -6.8px;
    }

    @media screen and (min-width: $screen-xxl) {
      padding-bottom: 111px;
    }


  }

  &__year {
    font-size: 46px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -2.9px;
    align-self: flex-end;

    @media screen and (min-width: $screen-md) {
      font-size: 105px;
      line-height: 0.78;
      letter-spacing: -6.5px;
      padding-bottom: 145px;
    }

    @media screen and (min-width: $screen-lg) {
      flex-basis: 30%;
      text-align: right;
      font-size: 97.4px;
      letter-spacing: -6.1px;
      padding-bottom: 91px;
    }

     @media screen and (min-width: $screen-xl) {
       padding-bottom: 96px;
       font-size: 109.4px;
       line-height: 0.75;
       letter-spacing: -6.8px
     }

      @media screen and (min-width: $screen-xxl) {
        padding-bottom: 111px;
      }
  }

  &__link {
    display: none;

    @media screen and (min-width: $screen-md) {
      position: relative;
      display: block;
      align-self: flex-end;
      transition: all 0.25s;
      width: 72px;
      height: 48px; //background: #fff url("../img/svg/arrow.svg") no-repeat center center;
      background-color: #fff;

      @media screen and (min-width: $screen-lg) {
        margin-left: auto;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 24px;
        display: block;
        height: 2px;
        margin: auto;
        background: #000;
        transition: all 0.25s;
      }

      svg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 18px;
        right: 0;
        width: 6px;
        height: 6px;
        fill: #000;
        margin: auto;
        transition: all 0.25s;
      }

      &:hover {
        &:before {
          //right: -10px;
          background: #1eb4b7;
        }
        svg {
          fill: #1eb4b7;
        }
      }

    }
  }

}
