

@import "_reboot";
@import "_fonts";
@import "settings/_variables";
@import "settings/_mixins";
//@import "../../node_modules/bootstrap-4-grid/scss/grid.scss";



@import "_base";
@import "_grid";


// blocks
@import "../blocks/btn/btn.scss";
@import "../blocks/icon-btn/icon-btn";
@import "../blocks/breadcrumbs/breadcrumbs";
@import "../blocks/social/social";
@import "../blocks/btn-slider/btn-slider";
@import "../blocks/product-tabs/product-tabs.scss";
@import "../blocks/product-gallery/product-gallery";
@import "../blocks/slider-products/slider-products";
@import "../blocks/shops/shops";
@import "../blocks/sizes/sizes.scss";
@import "../blocks/tabs/tabs.scss";
@import "../blocks/dropdown/dropdown.scss";
@import "../blocks/field-text/field-text.scss";
@import "../blocks/field-checkbox/field-checkbox.scss";
@import "../blocks/field-radio/field-radio.scss";
@import "../blocks/field-select/field-select.scss";
@import "../blocks/field-textarea/field-textarea";
@import "../blocks/field-datepicker/field-datepicker";
@import "../blocks/field-counter/field-counter.scss";
@import "../blocks/header/header.scss";
@import "../blocks/footer/footer.scss";
@import "../blocks/nav/nav.scss";
@import "../blocks/sidenav/sidenav.scss";
@import "../blocks/tile/tile.scss";
@import "../blocks/auth/auth.scss";
@import "../blocks/subscribe/subscribe.scss";
@import "../blocks/about-header/about-header";
@import "../blocks/about-teach/about-teach";
@import "../blocks/about-production/about-production";
@import "../blocks/about-phy/about-phy";
@import "../blocks/filter/filter.scss";
@import "../blocks/catalog/catalog.scss";
@import "../blocks/product/product.scss";
@import "../blocks/product-info/product-info.scss";

@import "../blocks/office-card/office-card.scss";
@import "../blocks/office-history/office-history.scss";
@import "../blocks/office-address/office-address.scss";
@import "../blocks/office-data/office-data.scss";

@import "../blocks/news/news.scss";
@import "../blocks/article/article.scss";
@import "../blocks/checkout/checkout.scss";
@import "../blocks/stores/stores";
@import "../blocks/slider-sale/slider-sale.scss";
@import "../blocks/slider-product/slider-product.scss";

@import "../blocks/form-login/form-login.scss";


