include ../../blocks/header/header.pug
include ../../blocks/sidenav/sidenav.pug
include ../../blocks/tile/tile.pug
include ../../blocks/product/product.pug
include ../../blocks/slider-sale/slider-sale.pug
include ../../blocks/slider-product/slider-product.pug
include ../../blocks/slider-round/slider-round
include ../../blocks/slider-promo/slider-promo
include ../../blocks/auth/auth.pug
include ../../blocks/subscribe/subscribe.pug
include ../../blocks/form-login/form-login.pug
include ../../blocks/field-counter/field-counter
include ../../blocks/lookbook/lookbook
include ../../blocks/about-hr/about-hr
include ../../blocks/about-phy/about-phy
include ../../blocks/about-production/about-production
include ../../blocks/about-teach/about-teach
include ../../blocks/contacts/contacts
include ../../blocks/office-address/office-address
include ../../blocks/office-data/office-data
include ../../blocks/btn-slider/btn-slider
include ../../blocks/features/features
include ../../blocks/fashion-world/fashion-world
include ../../blocks/insta-gallery/insta-gallery

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')

		//- Edge и ряд мобильных браузеров автоматом преобразуют телефоны в ссылки. Отключить если не нужно.
		meta(name='format-detection', content='telephone=no')

		block title
			title Home

		block head
			link(rel="stylesheet" href="css/libs/slick.css")
			link(rel="stylesheet" href="css/libs/jquery.fancybox.min.css")
			link(rel="stylesheet" href="css/libs/magnify.css")
			link(rel="stylesheet" href="css/libs/jQuery.Brazzers-Carousel.min.css")
			block css_libs

			link(rel="stylesheet" href="css/template.css")

	body

		block header
			+header('')

		main.content
			block content

		block footer

		include ../../blocks/footer/footer

		+form-login()


		script(src="js/libs/jquery.min.js")
		script(src="js/libs/slick-custom.js")
		script(src="js/libs/jquery.fancybox.min.js")
		script(src="js/libs/jQuery.Brazzers-Carousel.min.js")
		script(src="js/libs/dropdown.js")
		script(src="js/libs/tabs.js")
		block js_libs

		script(src="js/main.js")
