mixin about-phy()
	.about-phy
		.col-12.col-md-5.col-lg-3.about-phy__aside-wrap
			.about-phy__aside
				figure.about-phy__img
					img(src="https://picsum.photos/280/420/?image=1074", alt=" ")
				figure.about-phy__img
					img(src="https://picsum.photos/280/420/?image=40", alt="")
				figure.about-phy__img
					img(src="https://picsum.photos/280/420/?image=1084", alt="")

		.offset-lg-1.col-12.col-md-7.col-lg-8.about-phy__content
			p ALBA - сеть салонов обуви и аксессуаров. Существует с 1996 года. Название переводится как РАССВЕТ. Данное понятие отразилось и в концепции бренда: использование передовых технологий, качественных натуральных материалов, следование последним тенденциям моды и желание во всем быть первым.

			p Обувь ALBA разрабатывается и изготавливается в лучших европейских традициях, органично соединяет в себе итальянское чувство стиля и лучшие традиции качества. Продукция сочетает в себе самые современные тенденции дизайна, при этом остаётся удобной для постоянной носки, а большой размерный ряд и разнообразие моделей, выполненных из натуральной кожи, позволяет каждому покупателю подобрать идеально подходящую пару обуви. В бутике ничто не отвлекает от многочисленных моделей и их цветовых решений, ведь все магазины выполнены в одном лаконичном, сдержанном стиле, разработанном в немецком архитектурном бюро.

			p Персонал каждого магазина тщательно подбирается по ряду критериев, проходит обучение и постоянное повышение квалификации в собственном тренинг-центре компании .Именно поэтому в салонах ALBA каждый консультант-это эксперт, который ненавязчиво поможет, подскажет и подберёт идеальную обувь для каждого Клиента.

			p ALBA обновляет коллекции обуви, сумок и аксессуаров два раза в год. Каждая коллекция состоит из более тысячи моделей и представлена несколькими линиями: базовая, классическая, спортивная и трендовая.

			p Коллекция сезона весна-лето 2017 ALBA предлагает девушкам лодочки ультрамодных цветов и фактур: металлик, животный принт, пастельные тона.

			p Для приверженец классики приготовлены балетки и туфли с открытым носом на устойчивом каблуке базовых цветов; для повседневной носки есть разнообразные сандалии и босоножки на толстой подошве, представленные в различных вариациях. Среди аксессуаров-огромный выбор сумок и ремней, зонтов и палантинов разнообразных цветов и фасонов. Для мужчин представлено огромное количество легких полуботинок для работы, летних мокасин и сандалий для отдыха. Вся коллекция, как и вся обувь бренда ALBA, сделана из натуральной кожи и материалов высшего качества.

			p В настоящее время открыто более 50 салонов ALBA по всей России. География присутствия увеличивается, экспансия бренда продолжается. Компания открыла свой интернет – магазин, в котором представлены аксессуары и обувь собственной марки и ее партнеров.

			p Компания постоянно повышает свою лояльность к Клиентам: акции, программы, дисконтная политика, призы.

			p С начала прошлого года заработал уникальный сервис от ALBA: беспроцентная рассрочка сроком до полугода.

			p Следите за новостями компании в социальных сетях и на официальном сайте компании.

		.col-12
			.share-line.col-lg-8
				.row
					.col-md-4
						.share-line__text Поделиться с друзьями
					.col-md-4
						.share-line__btn
							.social
								a.social__item(href="#")
									<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g fill="none" fill-rule="evenodd"><circle cx="16" cy="16" r="16" fill="#1D1D1D"/><path fill="#FFF" d="M15.752 12.02c.516.055.774.14.89.3.03.043.079.15.107.239.06.186.063.398.025 1.988-.023.993-.009 1.298.068 1.518.09.252.29.367.467.272.16-.088.534-.521.778-.905.565-.88.909-1.563 1.323-2.616.083-.208.195-.345.311-.377.047-.015.704-.027 1.513-.03l1.429-.004.12.054c.157.073.217.168.217.342 0 .33-.328 1.007-.89 1.836-.077.115-.367.521-.644.905-.61.846-.743 1.044-.836 1.25-.117.259-.089.472.095.723.053.071.323.357.6.636.773.78 1.124 1.191 1.41 1.641.205.325.284.565.251.77-.016.113-.123.247-.244.313-.144.076-.365.09-1.58.108l-1.15.017-.186-.066c-.474-.166-.79-.443-1.509-1.318-.397-.484-.692-.721-.897-.724-.188 0-.427.264-.53.592-.07.22-.095.389-.116.77-.025.45-.076.555-.339.67-.095.044-1.28.059-1.594.025a4.263 4.263 0 0 1-1.792-.641c-.839-.518-1.352-.983-1.903-1.722-.957-1.286-1.61-2.381-2.403-4.034-.307-.643-.667-1.475-.725-1.673-.058-.205.026-.374.216-.438.065-.022.428-.034 1.264-.046l1.174-.012.137.054c.216.088.307.2.453.574a44.33 44.33 0 0 0 1.013 2.142c.217.404.447.741.644.942.244.252.353.313.525.298.147-.015.186-.049.277-.257.22-.501.256-2.196.058-2.86-.114-.38-.284-.524-.753-.63-.081-.019-.081-.048-.007-.163.181-.274.504-.406 1.12-.46.337-.03 1.336-.032 1.613-.002z"/></g></svg>
								a.social__item(href="#")
									<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g fill="none" fill-rule="evenodd"><circle cx="16" cy="16" r="16" fill="#1D1D1D"/><path fill="#FFF" d="M17.193 16.702h2.358l.353-2.845h-2.711v-1.816c0-.823.22-1.384 1.357-1.384l1.45-.001V8.112A18.693 18.693 0 0 0 17.887 8c-2.091 0-3.522 1.325-3.522 3.76v2.097H12v2.845h2.365V24h2.828v-7.298z"/></g></svg>
								a.social__item(href="#")
									<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g fill="none" fill-rule="evenodd"><circle cx="16" cy="16" r="16" fill="#1D1D1D"/><path fill="#FFF" d="M21.612 12.784a2.808 2.808 0 0 0 1.263-1.536 5.91 5.91 0 0 1-1.825.674 2.91 2.91 0 0 0-2.096-.877c-1.586 0-2.872 1.244-2.872 2.777 0 .218.025.43.074.633a8.248 8.248 0 0 1-5.92-2.902c-.247.41-.388.886-.388 1.396 0 .964.508 1.814 1.278 2.312a2.946 2.946 0 0 1-1.301-.349v.035c0 1.345.99 2.468 2.303 2.724-.24.062-.494.097-.757.097-.185 0-.364-.018-.54-.051.365 1.104 1.426 1.907 2.682 1.929a5.887 5.887 0 0 1-3.567 1.187c-.231 0-.46-.013-.685-.038a8.318 8.318 0 0 0 4.403 1.25c5.283 0 8.17-4.233 8.17-7.904l-.01-.36a5.636 5.636 0 0 0 1.437-1.435c-.515.221-1.068.371-1.649.438z"/></g></svg>