// В этом файле должны быть стили для БЭМ-блока .trends , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.trends {
  position: relative;
  @media (min-width: $screen-md) {
    margin-bottom: 60px;
  }
  @media (min-width: $screen-lg) {
    margin-bottom: 112px;
  }
  @media (min-width: $screen-xxl) {
    margin-bottom: 120px;
  }
  &__slider {
    padding-left: 8px;
    @media (min-width: $screen-md) {
      padding-left: 0;
    }
    .container {
      @media (max-width: 767px) {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  &__slider-inner {
    @media (min-width: $screen-lg) {
      @include row(0, 0, 0, 0, 32px, 40px);
    }
  }
  .btn-slider {
    display: none;
  }
}