// В этом файле должны быть стили для БЭМ-блока .trends , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.trends {
  position: relative;
  &__slider {
    padding-left: 8px;
    @media (min-width: $screen-md) {
      padding-left: 0;
    }
    .container {
      @media (max-width: 767px) {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  &__slider-inner {
    @include row(0, 0, 0, 0, 0, 0);
  }
  .btn-slider {
    display: none;
  }
}