// В этом файле должны быть стили для БЭМ-блока .subscribe , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.subscribe {
	background: url('../img/design/bg-subscribe.png') no-repeat center center / cover;
	padding: 39px 16px 46px 16px;
	@media (min-width: $screen-md) {
		padding-bottom: 53px;
	}
	&__inner {
		@include row(32px, 32px, 48px, 24px, 32px, 40px);
		@media (min-width: $screen-md) {
			padding-right: 147px;
			padding-left: 147px;
		}
	}
	&__label {
		display: block;
		margin-bottom: 14px;
		@media screen and (min-width: $screen-md) {
			margin-bottom: 13px;
		}
	}
	&__text {
		margin-bottom: 32px;
		color: #fff;
		@media screen and (min-width: $screen-lg) {
			margin-bottom: 46px;
		}
		@media screen and (min-width: $screen-lg) {
			margin-bottom: 0;
			@include col(lg, 4, 12, 24px);
			@include col-offset(lg, 2, 12);
		}
		@media screen and (min-width: $screen-xl) {
			@include col(xl, 4, 12, 32px);
			@include col-offset(xl, 2, 12);
		}
		@media screen and (min-width: $screen-xxl) {
			@include col(xxl, 3, 15, 40px);
			@include col-offset(xxl, 3, 15);
		}

		h2 {
			margin-bottom: 9px;
			line-height: 1.23;
			color: #fff;
			letter-spacing: -0.3px;
			@media (min-width: $screen-md) {
				margin-bottom: 13px;
			}
			span {
				display: inline-block;
				margin-right: 5px;
				vertical-align: top;
			}
		}
		p {
			max-width: 432px;
			margin-bottom: 0;
			font-size: 12px;
			line-height: 1.33;
			letter-spacing: 0.3px;
			@media (min-width: $screen-md) {
				font-size: 18px;
				letter-spacing: 0.4px;
			}
		}
	}
	&__discount {
		font-family: $font-family--montserrat;
		font-weight: 900;
	}
	&__form {
		color: #fff;

		@media screen and (min-width: $screen-lg) {
			@include col(lg, 6, 12, 24px);
			@include col-offset(lg, 0, 12);
		}
		@media screen and (min-width: $screen-xl) {
			@include col(xl, 5, 12, 32px);
			@include col-offset(xl, 1, 12);
		}
		@media screen and (min-width: $screen-xxl) {
			@include col(xxl, 5, 15, 40px);
			@include col-offset(xxl, 1, 15);
		}

		form {
			@media screen and (min-width: $screen-md) {
				display: flex;
				.form-field {
					&:first-child {
						display: flex;
						align-items: flex-end;
						margin-bottom: 15px;
					}
				}
				.field-text {
					margin-bottom: 0;
					margin-right: 16px;
					@media screen and (min-width: $screen-md) {
						margin-right: 24px;
					}
				}
			}

			.field-checkbox {
				&:first-child {
					margin-right: 32px;
				}
			}
		}
	}
	.form-group {
		@media screen and (min-width: $screen-md) {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
		}
	}
	.form-field {
		&:first-child {
			flex: 1;

		}
	}
	.field-text__input-wrap {
		@media screen and (min-width: $screen-md) {
			width: 100%;
		}
	}
	.field-text__input {
		@media screen and (min-width: $screen-md) {
			padding: 13px 15px 13px;
		}
	}
	&__field {
		@media screen and (min-width: $screen-md) {
			flex: 1;
		}
	}
	&__checkboxes {
		margin-bottom: 48px;
		@media screen and (min-width: $screen-md) {
			order: 1;
			width: 100%;
			margin-bottom: 0;
		}
	}
	&__btn {
		@media screen and (min-width: $screen-md) {
			max-width: 136px;
			margin-bottom: 15px;
			padding: 15px 16px;
		}
	}
}