// В этом файле должны быть стили для БЭМ-блока .subscribe , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.subscribe {
    background: url('../img/design/bg-subscribe.png') no-repeat center center / cover;
    padding: 39px 0 41px;

    &__inner {
      @include row(32px, 32px, 48px, 24px, 32px, 40px);

      @media screen and (min-width: $screen-md) {
        //width: 432px;
        //margin: 0 auto;
      }
    }

	&__text {
      color: #fff;
      margin-bottom: 32px;
      @media screen and (min-width: $screen-lg) {
        @include col(lg, 4, 12, 24px);
        @include col-offset(lg, 2, 12);
      }
      @media screen and (min-width: $screen-xl) {
        @include col(xl, 3, 12, 32px);
        @include col-offset(xl, 2, 12);
      }
      @media screen and (min-width: $screen-xxl) {
        @include col(xxl, 3, 15, 40px);
        @include col-offset(xxl, 3, 15);
      }


      h2 {
        line-height: (20 / 26);
        color: #fff;
        margin-bottom: 9px;

        span {
          font-family: $font-family--montserrat;
          font-weight: 900;
        }
      }
      p {
        line-height: (16 / 12);
        margin-bottom: 0;
      }
    }

    &__form {
      color: #fff;

      @media screen and (min-width: $screen-lg) {
        @include col(lg, 6, 12, 24px);
        @include col-offset(lg, 0, 12);
      }
      @media screen and (min-width: $screen-xl) {
        @include col(xl, 5, 12, 32px);
        @include col-offset(xl, 1, 12);
      }
      @media screen and (min-width: $screen-xxl) {
        @include col(xxl, 5, 15, 40px);
        @include col-offset(xxl, 1, 15);
      }

      form {
        @media screen and (min-width: $screen-md) {
          display: flex;
          .form-group {
            width: 272px;
            margin-right: 24px;
          }
        }

        .field-checkbox {
          &:first-child {
            margin-right: 32px;
          }
        }
      }

    }
}