// В этом файле должны быть стили для БЭМ-блока .subscribe , его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.subscribe {
	background: url('../img/design/bg-subscribe.png') no-repeat center center / cover;
	padding: 35px 16px 46px 16px;
	@media (min-width: $screen-md) {
		padding-top: 40px;
		padding-bottom: 53px;
		padding-left: 0;
		padding-right: 0;
	}
	@media (min-width: $screen-md) {
		padding-bottom: 55px;
	}
	&__inner {
		@include row(32px, 32px, 48px, 24px, 32px, 40px);
		@media (min-width: $screen-md) {
			padding-right: 144px;
			padding-left: 144px;
		}
		@media (min-width: $screen-lg) {
			padding-right: 0;
			padding-left: 0;
		}
		@media (min-width: $screen-xl) {
			padding-right: 0;
			padding-left: 147px;
		}
	}
	&__label {
		display: block;
		margin-bottom: 13px;
		letter-spacing: -0.4px;
		@media screen and (min-width: $screen-md) {
			margin-bottom: 13px;
		}
	}
	&__text {
		margin-bottom: 34px;
		color: #fff;

		@media screen and (min-width: $screen-md) {
			margin-bottom: 50px;
		}
		@media screen and (min-width: $screen-lg) {
			margin-bottom: 46px;
		}
		@media screen and (min-width: $screen-lg) {
			margin-bottom: 0;
			@include col(lg, 6, 12, 24px);
		}
		@media screen and (min-width: $screen-xl) {
			@include col(xl, 4, 12, 32px);
		}
		@media screen and (min-width: $screen-xxl) {
			@include col(xxl, 3, 15, 40px);
			@include col-offset(xxl, 3, 15);
		}

		h2 {
			margin-bottom: 11px;
			line-height: 1.25;
			color: #fff;
			letter-spacing: 0.3px;
			font-family: $font-family--montserrat;
			font-weight: 600;
			@media (min-width: $screen-md) {
				margin-bottom: 15px;
			}
			span {
				display: inline-block;
				margin-right: 5px;
				vertical-align: top;
			}
		}
		p {
			max-width: 432px;
			margin-bottom: 0;
			font-size: 12px;
			line-height: 1.33;
			letter-spacing: 0.3px;
			@media (min-width: $screen-md) {
				font-size: 18px;
				letter-spacing: 0.4px;
			}
		}
	}
	&__discount {
		font-family: $font-family--montserrat;
		font-weight: 900;
	}
	&__form {
		color: #fff;

		@media screen and (min-width: $screen-lg) {
			@include col(lg, 6, 12, 24px);
			@include col-offset(lg, 0, 12);
		}
		@media screen and (min-width: $screen-xl) {
			@include col(xl, 6.3, 12, 32px);
			@include col-offset(xl, 1.65, 12);
		}
		@media screen and (min-width: $screen-xxl) {
			@include col(xxl, 6.3, 15, 40px);
			@include col-offset(xxl, 1, 15);
		}

		form {
			@media screen and (min-width: $screen-md) {
				display: flex;
				.form-field {
					&:first-child {
						display: flex;
						align-items: flex-end;
						margin-bottom: 17px;
						@media screen and (min-width: $screen-xl) {
							max-width: 312px;
						}
					}
				}
				.field-text {
					margin-bottom: 0;
					margin-right: 16px;
					@media screen and (min-width: $screen-md) {
						margin-right: 24px;
					}
					@media screen and (min-width: $screen-xl) {
						margin-right: 16px;
					}
				}
			}

			.field-checkbox {
				&:first-child {
					margin-right: 32px;
				}
			}
		}
	}
	.form-group {
		@media screen and (min-width: $screen-md) {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
		}
		@media screen and (min-width: $screen-xl) {
			padding-top: 8px;
		}
	}
	.form-field {
		&:first-child {
			flex: 1;

		}
	}
	.field-text__input-wrap {
		max-width: 100%;
		width: 100%;
	}
	.field-text__input {
		@media screen and (min-width: $screen-md) {
			padding: 13px 15px 13px;
		}
	}
	&__field {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 16px;
		@media screen and (min-width: $screen-md) {
			// flex: 1;
			width: 272px;
		}
	}
	&__checkboxes {
		margin-bottom: 39px;
		@media screen and (min-width: $screen-md) {
			width: 100%;
			margin-bottom: 0;
			order: 1;
		}
		label {
			margin-bottom: 0;
		}
	}
	.form-control {
		max-width: 176px;
		width: 100%;

		@media screen and (min-width: $screen-md) {
			max-width: 136px;
		}
		@media screen and (min-width: $screen-xxl) {
			max-width: 184px;
		}
	}
	&__btn {
		max-width: 176px;
		width: 100%;
		@media screen and (min-width: $screen-md) {
			max-width: 136px;
			margin-bottom: 15px;
			padding: 15px 16px;
		}
		@media screen and (min-width: $screen-md) {
			max-width: 100%;
			width: 100%;
		}
	}
}