mixin subscribe()
	.subscribe
		.container
			.subscribe__inner
				.subscribe__text
					h2
						span Скидка
						span.subscribe__discount 10%
						span на первый заказ!
					p Подпишитесь и будьте одними из первых  в курсе выгодных предложений и новинок
				.subscribe__form
					form
						.form-group
							.form-field
								label.field-text.subscribe__field
									span.field-text__name.subscribe__label
										| Ваш e-mail
									span.field-text__input-wrap
										input.field-text__input(type="email")
									span.field-text__error
							.form-field.subscribe__checkboxes
								label.field-checkbox
									span.field-checkbox__input-wrap
										input.field-checkbox__input(type="checkbox" checked)
										span.field-checkbox__name
											| Женщинам
									span.field-checkbox__error

								label.field-checkbox
									span.field-checkbox__input-wrap
										input.field-checkbox__input(type="checkbox")
										span.field-checkbox__name
											| Мужчинам
									span.field-checkbox__error




							.form-control
								button.btn.subscribe__btn Подписаться