nav.nav-main
	ul.nav-main__list
		li.nav-main__item
			a.nav-main__link(href="about.html") Обувь
		li.nav-main__item.nav-main__item--decoration(role="presentation")
		li.nav-main__item
			a.nav-main__link(href="catalogs.html") Сумки
		li.nav-main__item.nav-main__item--decoration(role="presentation")
		li.nav-main__item.nav-main__item--decoration(role="presentation")
		li.nav-main__item
			a.nav-main__link(href="pay.html") Аксессуары
		li.nav-main__item.nav-main__item--decoration(role="presentation")
		li.nav-main__item
			a.nav-main__link(href="idea.html") Акции
		li.nav-main__item.nav-main__item--decoration(role="presentation")
		li.nav-main__item.nav-main__item--decoration(role="presentation")
		li.nav-main__item
			a.nav-main__link(href="contacts.html") Тренды сезона
		li.nav-main__item.nav-main__item--decoration(role="presentation")
		li.nav-main__item
			a.nav-main__link(href="contacts.html") Скидки от партнеров
		li.nav-main__item.nav-main__item--decoration(role="presentation")
		li.nav-main__item.nav-main__item--decoration(role="presentation")
		li.nav-main__item
			a.nav-main__link(href="contacts.html") Подарочные карты
		li.nav-main__item.nav-main__item--decoration(role="presentation")
		li.nav-main__item
			form.form-search
				button(type="submit")
					| <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><g fill="none" fill-rule="evenodd" stroke="#000" stroke-width="2"><circle cx="5.5" cy="5.5" r="4.5"/><path stroke-linecap="square" d="M9 9l3.036 3.036"/></g></svg>
				input(type="text" size="16" placeholder="поиск по каталогу")