// В этом файле должны быть стили для БЭМ-блока .sizes , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.sizes {
  &__title {
    font-family: $font-family--montserrat;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.45;
    letter-spacing: 0.4px;
    color: #000000;
    text-transform: uppercase;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    @media screen and (min-width: $screen-md) {
      margin-bottom: 22px;
    }
  }
  &__how {
    margin-right: 8px;
    font-size: 12px;
    font-weight: 300;
    color: #3c3c3c;
    letter-spacing: 0.3px;
    line-height: 1.33;
    @media (min-width: $screen-md) {
      margin-right: 0;
      font-size: 13px;
      letter-spacing: 0.4px;
    }
  }
  &__type {
    font-family: $font-family--montserrat;
    font-size: 11px;
    font-weight: 700;
    line-height: (16 / 11);
    color: #A0A0A0;
    text-transform: uppercase;
    margin-right: -7px;
    margin-left: -7px;
    padding-top: 1px;

    &-item {
      display: inline-block;

      &.active {
        a {
          color: #000;
          border-bottom-color: #60D3D5;
        }
      }
    }
    a {
      display: inline-block;
      margin-right: 7px;
      margin-left: 7px;
      cursor: pointer;
      padding-bottom: 2px;
      border-bottom: 2px solid transparent;
      letter-spacing: 0.4px;
    }
  }
  &__tab-body {
    display: none;
    &.active {
      display: block;
    }
  }
  &__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 1px;


  }

  label.sizes__item {
    cursor: pointer;
  }

  &__item {
    text-align: center;
    color: #3c3c3c;
    font-size: 14px;
    letter-spacing: 0.4px;
    margin-right: -1px;
    margin-bottom: -1px;
    cursor: default;

    @media screen and (min-width: $screen-xl) {
      font-size: 14px;
    }

    input {
      display: none;
      &:checked ~ span {
        color: #fff;
        position: relative;
        z-index: 5;
        &:after {
          top: 0;
          background-color: #60D3D5;
        }
      }
    }

    span {
      width: 41px;
      height: 41px;
      display: block;
      position: relative;
      // border: 1px solid #E6E6E6;
      box-shadow: inset 0 0 0 1px #E6E6E6;
      z-index: 1;
      line-height: 40px;

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transition: top 0.3s;
      }
    }

    &--text {
      flex: 1;
      max-width: 146px;

      span {
        width: auto;
        font-size: 12px;
        //padding: 0 12px;
        text-align: center;
        white-space: nowrap;

        @media screen and (min-width: $screen-xl) {
          font-size: 13px;
        }
      }
      &:hover {
        span {
          box-shadow: none;
          color: inherit;
        }
      }
    }
    &--in-stock,
    &--orange,
    &--blue,
    &--green {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        margin-left: -1px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        z-index: 6;
      }
    }
    &--in-stock::before {
      background-color: #000;
    }

    &--orange::before {
      background-color: #f5a623;
    }

    &--blue::before {
      background-color: #4a90e2;
    }

    &--green::before {
      background-color: #7ed321;
    }
    &:hover {
      span {
        position: relative;
        z-index: 5;
        box-shadow: inset 0 0 0 1px $primary-color;
        color: $primary-color;
      }
    }
    &:hover {
      span {
        box-shadow: inset 0 0 0 1px #E6E6E6;
        color: inherit;
      }
    }
  }
}