// В этом файле должны быть стили для БЭМ-блока .field-text , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.field-text {
	display: flex;
	align-items: center;
	&__name {
		//margin-bottom: 10px;
		font: 600 11px/1.45 $font-family--montserrat;
		letter-spacing: 0.4px;
		text-transform: uppercase;
		flex: 1;
	}
	&__input {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		min-height: 40px;
		padding: 8px 15px 10px;
		margin: 0;
		font-family: inherit;
		font-size: $font-size;
		font-weight: 300;
		line-height: 20px;
		background-color: #E9F6F6;
		border: 1px solid transparent;
		appearance: textfield;

		@include placeholder {
			font-size: 14px;
			color: #3C3C3C;
			opacity: 0.5;
			letter-spacing: 0.4px;
		}

		&-wrap {
			position: relative;
			display: block;
			max-width: 240px;
			width: 100%;
		}

		&--lg {
			padding: 13px 14px;

			@media screen and (min-width: 768px) {
				padding: 13px 14px;
			}
		}

		&:focus,
		&:active {
			outline: 0;
			border-bottom-color: #1EB4B7;
		}

		&:hover,
		&:focus {
			background-color: #D9F4F4;
		}

		&--border {
			border: solid 1px #60d3d5;
			background-color: transparent;
			&:focus {
				border-color: #1EB4B7;
			}
		}
	}
}