mixin slider-promo()
	.slider-promo
		.slider-promo__big
			.slider-promo__big-item.active
				.slider-promo__img
					//img(src="https://picsum.photos/632/632?image=1082")

					|<svg class="slider-promo-mask" width="632" height="632" viewBox="0 0 632 632" version="1.1" xmlns="http://www.w3.org/2000/svg" mlns:xlink="http://www.w3.org/1999/xlink">
					|	<defs>
					|        <polygon id="poly_1" fill="red" points="0 0,632 0,632 0,0 0">
					|            <animate begin="shape.click" class="mask-animate-up" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="0 0,632 0,632 0,0 0" />
					|            <animate begin="shape.click" class="mask-animate-down" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="0 316,632 316,632 0,0 0" />
					|        </polygon>
					|        <polygon id="poly_2" fill="gray" points="632 316,632 316,0 316,0 316">
					|            <animate begin="shape.click" class="mask-animate-up" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="632 316,632 316,0 316,0 316" />
					|            <animate begin="shape.click" class="mask-animate-down" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="632 316,632 632,0 632,0 316" />
					|        </polygon>
					|	</defs>
					|	<g id="group_1">
					|		<mask id="mask_1" fill="white">
					|			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#poly_1"></use>
					|		</mask>
					|		<image mask="url(#mask_1)" x="0" y="0" width="632" height="632" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/content/slider-promo-img.jpg"></image>
					|	</g>
					|	<g id="group_2">
					|		<mask id="mask_2" fill="white">
					|			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#poly_2"></use>
					|		</mask>
					|		<image mask="url(#mask_2)" x="0" y="0" width="632" height="632" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/content/slider-promo-img.jpg"></image>
					|	</g>
					|</svg>

				.slider-promo__cont
			.slider-promo__big-item
					.slider-promo__img
						//img(src="https://picsum.photos/632/632?image=1080")

						| <svg class="slider-promo-mask" width="632" height="632" viewBox="0 0 632 632" version="1.1" xmlns="http://www.w3.org/2000/svg" mlns:xlink="http://www.w3.org/1999/xlink">
						|    <defs>
						|        <polygon id="poly_11" fill="red" points="0 0,632 0,632 0,0 0">
						|            <animate begin="shape.click" class="mask-animate-up" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="0 0,632 0,632 0,0 0" />
						|            <animate begin="shape.click" class="mask-animate-down" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="0 316,632 316,632 0,0 0" />
						|        </polygon>
						|        <polygon id="poly_22" fill="gray" points="632 316,632 316,0 316,0 316">
						|            <animate begin="shape.click" class="mask-animate-up" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="632 316,632 316,0 316,0 316" />
						|            <animate begin="shape.click" class="mask-animate-down" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="632 316,632 632,0 632,0 316" />
						|        </polygon>
						|    </defs>
						|    <g id="group_11">
						|        <mask id="mask_11" fill="white">
						|            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#poly_11"></use>
						|        </mask>
						|        <image mask="url(#mask_11)" x="0" y="0" width="632" height="632" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://picsum.photos/632/632?image=1077"></image>
						|    </g>
						|    <g id="group_22">
						|        <mask id="mask_22" fill="white">
						|            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#poly_22"></use>
						|        </mask>
						|        <image mask="url(#mask_22)" x="0" y="0" width="632" height="632" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://picsum.photos/632/632?image=1077"></image>
						|    </g>
						| </svg>

					.slider-promo__cont
			.slider-promo__big-item
				.slider-promo__img
					//img(src="https://picsum.photos/632/632?image=1078")
					| <svg class="slider-promo-mask" width="632" height="632" viewBox="0 0 632 632" version="1.1" xmlns="http://www.w3.org/2000/svg" mlns:xlink="http://www.w3.org/1999/xlink">
					|    <defs>
					|        <polygon id="poly_1" fill="red" points="0 0,632 0,632 0,0 0">
					|            <animate begin="shape.click" class="mask-animate-up" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="0 0,632 0,632 0,0 0" />
					|            <animate begin="shape.click" class="mask-animate-down" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="0 316,632 316,632 0,0 0" />
					|        </polygon>
					|        <polygon id="poly_2" fill="gray" points="632 316,632 316,0 316,0 316">
					|            <animate begin="shape.click" class="mask-animate-up" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="632 316,632 316,0 316,0 316" />
					|            <animate begin="shape.click" class="mask-animate-down" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="632 316,632 632,0 632,0 316" />
					|        </polygon>
					|    </defs>
					|    <g id="group_1">
					|        <mask id="mask_1" fill="white">
					|            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#poly_1"></use>
					|        </mask>
					|        <image mask="url(#mask_1)" x="0" y="0" width="632" height="632" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://picsum.photos/632/632?image=1078"></image>
					|    </g>
					|    <g id="group_2">
					|        <mask id="mask_2" fill="white">
					|            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#poly_2"></use>
					|        </mask>
					|        <image mask="url(#mask_2)" x="0" y="0" width="632" height="632" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://picsum.photos/632/632?image=1078"></image>
					|    </g>
					| </svg>
				.slider-promo__cont
			.slider-promo__big-item
				.slider-promo__img
					//img(src="https://picsum.photos/632/632?image=1073")
					| <svg class="slider-promo-mask" width="632" height="632" viewBox="0 0 632 632" version="1.1" xmlns="http://www.w3.org/2000/svg" mlns:xlink="http://www.w3.org/1999/xlink">
					|    <defs>
					|        <polygon id="poly_1" fill="red" points="0 0,632 0,632 0,0 0">
					|            <animate begin="shape.click" class="mask-animate-up" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="0 0,632 0,632 0,0 0" />
					|            <animate begin="shape.click" class="mask-animate-down" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="0 316,632 316,632 0,0 0" />
					|        </polygon>
					|        <polygon id="poly_2" fill="gray" points="632 316,632 316,0 316,0 316">
					|            <animate begin="shape.click" class="mask-animate-up" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="632 316,632 316,0 316,0 316" />
					|            <animate begin="shape.click" class="mask-animate-down" begin="indefinite" fill="freeze" attributeName="points" dur="500ms"  to="632 316,632 632,0 632,0 316" />
					|        </polygon>
					|    </defs>
					|    <g id="group_1">
					|        <mask id="mask_1" fill="white">
					|            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#poly_1"></use>
					|        </mask>
					|        <image mask="url(#mask_1)" x="0" y="0" width="632" height="632" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://picsum.photos/632/632?image=1073"></image>
					|    </g>
					|    <g id="group_2">
					|        <mask id="mask_2" fill="white">
					|            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#poly_2"></use>
					|        </mask>
					|        <image mask="url(#mask_2)" x="0" y="0" width="632" height="632" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://picsum.photos/632/632?image=1073"></image>
					|    </g>
					| </svg>
				.slider-promo__cont
		.slider-promo__thumb
			.slider-promo__thumb-item.active
				img(src="https://picsum.photos/632/632?image=1082")
			.slider-promo__thumb-item
				img(src="https://picsum.photos/632/632?image=1080")
			.slider-promo__thumb-item
				img(src="https://picsum.photos/632/632?image=1078")
			.slider-promo__thumb-item
				img(src="https://picsum.photos/632/632?image=1073")
