extends templates/main

block title
	title  Производство

block header
	+header('header--about')

block about-header
	+about-header(
		'',
		'Производство',
		'Центр дизайна и производства располагается в Италии. Здесь начинается с эскизов жизнь любого продукта Alba – будь то обувь или аксессуар.',
		'bg-article-2.jpg'
	)

block content
	+about-production()


block js_libs