extends templates/main

block title
	title  История

block header
	+header('header--about')

block about-header
	+about-header(
		'about-header--history',
		'',
		'В 1998 году открылся Первый салон Alba в Москве, дизайн которого разработало немецкое архитектурным бюро. Лаконичный и продуманный дизайн интерьера призван сконцентрировать внимание на богатом модельном ряде бренда.',
		'bg-article-1.jpg'
	)

block content


block js_libs