extends templates/main

block title
	title  Вакансии

block header
	+header('header--about')

block about-header
	+about-header(
		'',
		'Вакансии',
		'Мы знаем, что найти хорошую работу так же сложно, как и подобрать идеальные лодочки. В ALBA вы найдете и то, и другое.',
		'bg-article-3.jpg'
	)

block content
	+about-hr()

block js_libs