extends templates/main

block title
	title  Философия бренда

block header
	+header('header--about header--invert')

block about-header
	+about-header(
		'',
		'Философия бренда',
		'Бренд черпает свое вдохновение в традициях Италии, страны-законодательницы в мире моды. Название компании символично отражает суть бренда и его миссию.',
		'bg-article-5.jpg'
	)

block content
	include ../blocks/about-phy/about-phy
	+about-phy()

block js_libs