extends templates/main

block title
	title  Производство

block header
	+header('header--about')

block about-header
	+about-header('bg-article-2.jpg')

block content
	include ../blocks/about-production/about-production
	+about-production()


block js_libs