extends templates/main
	
block title
	title Главная страница

block content

	.card-detail
		ul.breadcrumbs
			li.breadcrumbs__item.breadcrumbs__item--bg-white
				a(href="#")
					<svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10"><path fill-rule="evenodd" d="M7.48 5.513l1.448-2.796 1.539 2.796H7.479zM12.813 0H5.177L0 9.991h5.86l.899-2.104h4.387l.94 2.113L18 9.991 12.814 0z"/></svg>
			li.breadcrumbs__item.breadcrumbs__item--bg-white
				a(href="#") Женская обувь
			li.breadcrumbs__item.breadcrumbs__item--bg-white
				a(href="#") Ботинки
		.product-gallery
			.js-product-gallery-big.product-gallery__big
				.product-gallery__item
					img(src="https://www.the-alba.com/upload/resize_cache/iblock/7c9/1000_1000_1/1103048101301_1-min.jpg" class="zoom" data-magnify-src="https://www.the-alba.com/upload/resize_cache/iblock/7c9/1000_1000_1/1103048101301_1-min.jpg")
				.product-gallery__item
					img(src="https://www.the-alba.com/upload/resize_cache/iblock/8bb/1000_1000_1/1103048101301_2-min.jpg" class="zoom" data-magnify-src="https://www.the-alba.com/upload/resize_cache/iblock/8bb/1000_1000_1/1103048101301_2-min.jpg")
				.product-gallery__item
					img(src="https://www.the-alba.com/upload/resize_cache/iblock/e03/1000_1000_1/1103048101301_3-min.jpg" class="zoom" data-magnify-src="https://www.the-alba.com/upload/resize_cache/iblock/e03/1000_1000_1/1103048101301_3-min.jpg")
				.product-gallery__item
					img(src="https://www.the-alba.com/upload/resize_cache/iblock/f68/1000_1000_1/1103048101301_4-min.jpg" class="zoom" data-magnify-src="https://www.the-alba.com/upload/resize_cache/iblock/f68/1000_1000_1/1103048101301_4-min.jpg")
				.product-gallery__item
					img(src="https://www.the-alba.com/upload/resize_cache/iblock/7e5/1000_1000_1/1103048101301_5-min.jpg" class="zoom" data-magnify-src="https://www.the-alba.com/upload/resize_cache/iblock/7e5/1000_1000_1/1103048101301_5-min.jpg")
			.js-product-gallery-thumb.product-gallery__thumb
				.product-gallery__thumb-item
					img(src="https://www.the-alba.com/upload/resize_cache/iblock/7c9/115_115_1/1103048101301_1-min.jpg")
				.product-gallery__thumb-item
					img(src="https://www.the-alba.com/upload/resize_cache/iblock/8bb/115_115_1/1103048101301_2-min.jpg")
				.product-gallery__thumb-item
					img(src="https://www.the-alba.com/upload/resize_cache/iblock/e03/115_115_1/1103048101301_3-min.jpg")
				.product-gallery__thumb-item
					img(src="https://www.the-alba.com/upload/resize_cache/iblock/f68/115_115_1/1103048101301_4-min.jpg")
				.product-gallery__thumb-item
					img(src="https://www.the-alba.com/upload/resize_cache/iblock/7e5/115_115_1/1103048101301_5-min.jpg")
		.container
			.product-holder
				.product-info
					span.product-info__discount %
					.product-info__header
						.product-info__code
							.product-info__title Ботинки
							.product-info__id 1621001001402
						.product-info__price
							.price
								span(data-old-price="14 490") 4800 руб.
								span Экономия 1200 руб.
					.product-info__color
						span.product-info__option Цвет
						label.select-color
							span.select-color__input-wrap
								input.select-color__input(type="radio" name="f-price" checked)
								span.select-color__name
									img(src="https://www.the-alba.com/upload/resize_cache/iblock/9a0/1000_1000_1/1669000801401_1.jpg" width="48px")
						label.select-color
							span.select-color__input-wrap
								input.select-color__input(type="radio" name="f-price")
								span.select-color__name
									img(src="https://www.the-alba.com/upload/resize_cache/iblock/9a0/1000_1000_1/1669000801401_1.jpg" width="48px")
					.product-info__sizes
						.sizes
							.sizes__head
								.sizes__title Размер
								ul.sizes__type
									li.sizes__type-item.active
										a(href="#size-ru" data-toggle="tab") ru
									li.sizes__type-item
										a(href="#size-uk" data-toggle="tab") uk
									li.sizes__type-item
										a(href="#size-us" data-toggle="tab") us
								.sizes__how
									a(href="#") Как определить
							#size-ru.sizes__tab-body.active
								.sizes__list
									label.sizes__item
										input(type="checkbox")
										span 35
									label.sizes__item
										input(type="checkbox")
										span 36
									label.sizes__item
										input(type="checkbox")
										span 37
									label.sizes__item
										input(type="checkbox")
										span 37,5
									label.sizes__item.sizes__item--in-stock
										input(type="checkbox")
										span 38
									label.sizes__item.sizes__item--in-stock
										input(type="checkbox")
										span 38,5
									label.sizes__item.sizes__item--in-stock
										input(type="checkbox")
										span 39
									label.sizes__item.size__item--in-stock
										input(type="checkbox")
										span 40
									label.sizes__item.sizes__item--in-stock
										input(type="checkbox")
										span 41
									label.sizes__item
										input(type="checkbox")
										span 42
							#size-uk.sizes__tab-body
								.sizes__list
									label.sizes__item
										input(type="checkbox")
										span 3 1/2
									label.sizes__item
										input(type="checkbox")
										span 4
									label.sizes__item
										input(type="checkbox")
										span 5
									label.sizes__item
										input(type="checkbox")
										span 6
									label.sizes__item
										input(type="checkbox")
										span 6 1/2
									label.sizes__item
										input(type="checkbox")
										span 7
									label.sizes__item
										input(type="checkbox")
										span 7 1/2
									label.sizes__item
										input(type="checkbox")
										span 8
									label.sizes__item
										input(type="checkbox")
										span 9 1/2
									label.sizes__item
										input(type="checkbox")
										span 10
							#size-us.sizes__tab-body
								.sizes__list
									label.sizes__item
										input(type="checkbox")
										span 5 1/2
									label.sizes__item
										input(type="checkbox")
										span 6
									label.sizes__item
										input(type="checkbox")
										span 7
									label.sizes__item
										input(type="checkbox")
										span 8
									label.sizes__item
										input(type="checkbox")
										span 8 1/2
									label.sizes__item
										input(type="checkbox")
										span 9
									label.sizes__item
										input(type="checkbox")
										span 9 1/2
									label.sizes__item
										input(type="checkbox")
										span 10
									label.sizes__item
										input(type="checkbox")
										span 11 1/2
									label.sizes__item
										input(type="checkbox")
										span 12
					.product-info__buttons
						a(href="").btn.product-info__in-cart В корзину
						a(href="").btn.product-info__add-desires
						a(href="").btn.btn--border.product-info__reservation Забронировать в магазине
					.product-info__delivery
						p Доставим сегодня за 320 руб. (Москва)
						a(href="#") О доставке
						p Самовывоз, бесплатно, сегодня.
						a(href="#") Магазины на карте
				.product-desc
					ul.product-desc__list
						li
							span Высота каблука:
							span низкий
						li
							span Материал верха:
							span натуральная кожа
						li
							span Материал подошвы:
							span резина
						li
							span Сезонность:
							span демисезон
						li
							span Цвет:
							span темно-синий
					p.product-desc__text Классический ботинки со шнурками на устойчивом каблуке, декорированные металлическими полукольцами. Комфортная обувь на каждый день
					b.product-desc__share поделиться с друзьям
					.social
						a.social__item(href="#")
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g fill="none" fill-rule="evenodd"><circle cx="16" cy="16" r="16" fill="#1D1D1D"/><path fill="#FFF" d="M15.752 12.02c.516.055.774.14.89.3.03.043.079.15.107.239.06.186.063.398.025 1.988-.023.993-.009 1.298.068 1.518.09.252.29.367.467.272.16-.088.534-.521.778-.905.565-.88.909-1.563 1.323-2.616.083-.208.195-.345.311-.377.047-.015.704-.027 1.513-.03l1.429-.004.12.054c.157.073.217.168.217.342 0 .33-.328 1.007-.89 1.836-.077.115-.367.521-.644.905-.61.846-.743 1.044-.836 1.25-.117.259-.089.472.095.723.053.071.323.357.6.636.773.78 1.124 1.191 1.41 1.641.205.325.284.565.251.77-.016.113-.123.247-.244.313-.144.076-.365.09-1.58.108l-1.15.017-.186-.066c-.474-.166-.79-.443-1.509-1.318-.397-.484-.692-.721-.897-.724-.188 0-.427.264-.53.592-.07.22-.095.389-.116.77-.025.45-.076.555-.339.67-.095.044-1.28.059-1.594.025a4.263 4.263 0 0 1-1.792-.641c-.839-.518-1.352-.983-1.903-1.722-.957-1.286-1.61-2.381-2.403-4.034-.307-.643-.667-1.475-.725-1.673-.058-.205.026-.374.216-.438.065-.022.428-.034 1.264-.046l1.174-.012.137.054c.216.088.307.2.453.574a44.33 44.33 0 0 0 1.013 2.142c.217.404.447.741.644.942.244.252.353.313.525.298.147-.015.186-.049.277-.257.22-.501.256-2.196.058-2.86-.114-.38-.284-.524-.753-.63-.081-.019-.081-.048-.007-.163.181-.274.504-.406 1.12-.46.337-.03 1.336-.032 1.613-.002z"/></g></svg>
						a.social__item(href="#")
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g fill="none" fill-rule="evenodd"><circle cx="16" cy="16" r="16" fill="#1D1D1D"/><path fill="#FFF" d="M17.193 16.702h2.358l.353-2.845h-2.711v-1.816c0-.823.22-1.384 1.357-1.384l1.45-.001V8.112A18.693 18.693 0 0 0 17.887 8c-2.091 0-3.522 1.325-3.522 3.76v2.097H12v2.845h2.365V24h2.828v-7.298z"/></g></svg>
						a.social__item(href="#")
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g fill="none" fill-rule="evenodd"><circle cx="16" cy="16" r="16" fill="#1D1D1D"/><path fill="#FFF" d="M21.612 12.784a2.808 2.808 0 0 0 1.263-1.536 5.91 5.91 0 0 1-1.825.674 2.91 2.91 0 0 0-2.096-.877c-1.586 0-2.872 1.244-2.872 2.777 0 .218.025.43.074.633a8.248 8.248 0 0 1-5.92-2.902c-.247.41-.388.886-.388 1.396 0 .964.508 1.814 1.278 2.312a2.946 2.946 0 0 1-1.301-.349v.035c0 1.345.99 2.468 2.303 2.724-.24.062-.494.097-.757.097-.185 0-.364-.018-.54-.051.365 1.104 1.426 1.907 2.682 1.929a5.887 5.887 0 0 1-3.567 1.187c-.231 0-.46-.013-.685-.038a8.318 8.318 0 0 0 4.403 1.25c5.283 0 8.17-4.233 8.17-7.904l-.01-.36a5.636 5.636 0 0 0 1.437-1.435c-.515.221-1.068.371-1.649.438z"/></g></svg>
				.product-tabs.product-tabs--adress
					.product-tabs__nav
						span.product-tabs__city Ваш город: Москва
						ul.product-tabs__nav
							li.product-tabs__tab.active
								a(href="#available" data-toggle="tab").product-tabs__link наличие в магазинах
							li.product-tabs__tab
								a(href="#delivery" data-toggle="tab").product-tabs__link доставка и примерка
							li.product-tabs__tab
								a(href="#payment" data-toggle="tab").product-tabs__link оплата
							li.product-tabs__tab
								a(href="#reviews" data-toggle="tab").product-tabs__link отзывы
					.product-tabs__body
						#available.product-tabs__item.active
							.shops
								.shops__map
									| <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A0606129cc3aca5dc22b848c942aeb0ca610a35559449df72f90b5e1db98305c9&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
								.js-shops-list.shops-list
									.shops-list__item
										span
											b ТЦ Метрополис
										ul
											li.shops-list__tel +7 495 721-88-25
											li.shops-list__time
												span пн-чт: 10 22,
												span пт-вс: 10 23
											li.shops-list__location
												span площадь Киевского Вокзала, 2
												a(href="#").shops-list__on-map на карте
									.shops-list__item
										span
											b ТЦ Метрополис
										ul
											li.shops-list__tel +7 495 721-88-25
											li.shops-list__time 10 22
											li.shops-list__location
												span Ленинградское шоссе, 116 а, стр. 4
												a(href="#").shops-list__on-map на карте
									.shops-list__item
										span
											b ТЦ Метрополис
										ul
											li.shops-list__tel +7 495 721-88-25
											li.shops-list__time
												span пн-чт: 10 22,
												span пт-вс: 10 23
											li.shops-list__location
												span площадь Киевского Вокзала, 2
												a(href="#").shops-list__on-map на карте
									.shops-list__item
										span
											b ТЦ Метрополис
										ul
											li.shops-list__tel +7 495 721-88-25
											li.shops-list__time 10 22
											li.shops-list__location
												span Ленинградское шоссе, 116 а, стр. 4
												a(href="#").shops-list__on-map на карте
						#delivery.product-tabs__item
							| not design ...
						#payment.product-tabs__item
							| not design ...
						#reviews.product-tabs__item
							| not design ...

	.product-tabs.slider-products
		.container.slider-products__nav-inner
			ul.product-tabs__nav.slider-products__nav
				li.product-tabs__tab.slider-products__item.active
					a.product-tabs__link.slider-products__link(aria-controls="recommended" role="tab" data-toggle="tab" href="#recommended") Рекомендуем
				li.product-tabs__tab.slider-products__item
					a.product-tabs__link.slider-products__link(aria-controls="related" role="tab" data-toggle="tab" href="#related") Похожие товары
				li.product-tabs__tab.slider-products__item
					a.product-tabs__link.slider-products__link(aria-controls="recently-watched" role="tab" data-toggle="tab" href="#recently-watched") Вы недавно смотрели
		.container.slider-products__inner
			.product-tabs__body.slider-products__body
					#recommended.product-tabs__item.slider-products__tab.active
						.js-slider-product
							+slider-product()
					#related.product-tabs__item.slider-products__tab
						.js-slider-product
							+slider-product()
					#recently-watched.product-tabs__item.slider-products__tab
						.js-slider-product
							+slider-product()


block js_libs