extends templates/main
	
block title
	title Главная страница

block header
	+header('header--promo header--white')

block content
	+features()

	.trends
		.trends__title
			h2.h2 В тренде
		.trends__slider
			+slider-round()

	+lookbook()

	+fashion-world()

	//+product('https://picsum.photos/296/296/?gravity=east', 'Сапожки', true, true, true)

	//+slider-sale

	+insta-gallery()

	.slider-sale
		.container
			.row.slider-sale__header
				.h2.checkout__title.col-12.col-md-6.col-lg-3 Скидки
				.checkout__slider-arrows.col-md-6
					+btnSliderPrev().js-slider-product-prev
					+btnSliderNext().js-slider-product-next
		.slider-product.slider-product--main-page
			.container.slider-product__inner
				.js-slider-checkout
					+slider-product()

	.js-collapse.seo-text.seo-text--main
		.container
			.row
				section.offset-lg-2.offset-xxl-3.col-12.col-lg-8.col-xxl-9
					h4 Интернет-магазин ALBA
					p Если вы являетесь поклонником качественной обуви и при этом для вас важен привлекательный дизайн моделей, приглашаем совершать покупки в интернет-магазине ALBA. Мы предлагаем продукцию достойного качества, имеющую красивый внешний вид и созданную в соответствии с последними трендами мировой моды.
				section.col-12
					h4 Преимущества совершения покупок у нас
					.row
						p.col-12.col-md-6.col-xxl-7 Предлагаем огромный ассортимент. В нашем виртуальном каталоге вы сможете найти обувь, о которой давно мечтали. Многообразие фасонов представлено моделями для разных сезонов года. Так что и для жаркого лета, и для капризного демисезона, и для холодной зимы вы сможете купить обувь ALBA, в которой вам будет особенно комфортно. Наш ассортимент постоянно пополняется!
						p.offset-xxl-1.col-12.col-md-6.col-xxl-7(data-collapse-body) Создаем тематические подборки. Для удобства выбора мы сформировали на сайте несколько категорий обуви, которые могут заинтересовать заядлых модниц и модников. Если вы чутко следите за модой, обратите внимание на подборку новинок сезона. Предпочитаете при покупке ориентироваться на мнение других потребителей? Ознакомиться с предпочтениями наших покупателей и посмотреть ассортимент хитов продаж можно в рубрике «Популярное».
						p.col-12.col-md-6.col-xxl-7(data-collapse-body) Регулярно устраиваем распродажи. Мы не только предлагаем приятные цены на обувь, но и предоставляем новым и постоянным покупателям удивительные скидки, позволяющие недорого приобрести оригинальные и качественные модели. Узнать о проводимых акциях и других интересных новостях вы можете в соответствующем разделе.
						p.offset-xxl-1.col-12.col-md-6.col-xxl-7(data-collapse-body) Чтобы купить обувь в интернет-магазине ALBA, вам потребуется минимум времени. Оформление заказов на нашем сайте производится в режиме онлайн круглосуточно. Вы можете выбрать удобный для вас вариант оплаты и доставки товаров. Наши консультанты всегда готовы помочь вам с выбором модели, определением размера и уточнить дополнительную информацию по характеристикам обуви. Для связи со специалистами используйте телефон горячей линии или закажите обратный звонок.
				.col-12
					button(type="button" data-collapse-toggle) Полностью

