extends templates/main
	
block title
	title Главная страница

block header
	+header('header--white')

block content
	+features()
	.container-narrow
		p sdfdsf
	.js-slider-lookbook.slider-lookbook
		.slider-lookbook__item
			img(src="https://picsum.photos/408/512?image=155")
		.slider-lookbook__item
			img(src="https://picsum.photos/408/512?image=156")
		.slider-lookbook__item
			img(src="https://picsum.photos/408/512?image=157")
		.slider-lookbook__item
			img(src="https://picsum.photos/436/512?image=146")

	//- +slider-product()

	.container-narrow
		p Codeply is a responsive design playground and code editor that front end developers can use to build, prototype and compare responsive frameworks. Codeply also has responsive examples, snippets and layouts.

		.row
			.cell
				.cell_cont 1
			.cell
				.cell_cont 2
			.cell
				.cell_cont 3
			.cell
				.cell_cont 4
			.cell
				.cell_cont 5
			.cell
				.cell_cont 6
			.cell
				.cell_cont 7
			.cell
				.cell_cont 8
			.cell
				.cell_cont 9
			.cell
				.cell_cont 10
			.cell
				.cell_cont 11
			.cell
				.cell_cont 12
			//.cell
			//	.cell_cont 13
			//.cell
			//	.cell_cont 14

	.checkout-slider
		.checkout__remember
			.h2.checkout__title Скидки
			.checkout__slider-arrows
				+btnSliderPrev()
				+btnSliderNext()
		.slider-products.slider-products--main-page.slider-product
			.container.slider-products__inner
				.slider-products__body
					.slider-products__tab.active
						.js-slider-checkout
							+slider-product()
