extends templates/main

block title
	title  Личный кабинет | Данные

block content
	h1.content__title Личный кабинет
	.container
		.row
			.col-12.col-xl-3.col-xxl-3
				+sidenav()

			.col-12.col-xl-9.col-xxl-12.office-card-wrap.office-card-wrap--editable
				.office-card
					.office-card__title
						h2.h1 Мои данные
						p Ваши личные данные надежно хранятся и будут автоматически заполнятся в форме оформления заказа

					.office-card__content
						include ../blocks/office-data/office-data
						+office-data()

block js_libs