extends templates/main
	
block title
	title Главная страница

block content

	.container.stock
		.article-header
			.row.align-items-center
				.col-md-6
					h1.article-header__title Акции и новости
						span.article-header__quantity 67
				.col-md-6
					form.article-header__filter
						label.field-checkbox
							span.field-checkbox__input-wrap
								input.field-checkbox__input(type="checkbox")
								span.field-checkbox__name
									| только промокоды
						label.field-checkbox
							span.field-checkbox__input-wrap
								input.field-checkbox__input(type="checkbox")
								span.field-checkbox__name
									| действует сейчас

		.row
			.col-12.col-md-6.col-xl-4.col-xxl-5
				.article-preview
					.article-preview__img
						a(href="#")
							img(src="https://picsum.photos/g/520/411")
					.article-preview__info
						span.article-preview__info-col 18%
						span.article-preview__info-col
							b.article-preview__number 13
							span.article-preview__sub-number д.
							b.article-preview__number 15
							span.article-preview__sub-number ч.
							b.article-preview__number 20
							span.article-preview__sub-number мин.
					p Дарим всем предновогоднюю скидку 18%
			.col-12.col-md-6.col-xl-4.col-xxl-5
				.article-preview
					.article-preview__img
						a(href="#")
							img(src="https://picsum.photos/g/520/411")
					.article-preview__info
						span.article-preview__info-col 18%
						span.article-preview__info-col Всегда
					p Оплати онлайн и получи скидку 5%
			.col-12.col-md-6.col-xl-4.col-xxl-5
				.article-preview
					.article-preview__img
						a(href="#")
							img(src="https://picsum.photos/g/520/411")
					.article-preview__info
						span.article-preview__info-col 18%
						span.article-preview__info-col Всегда
					p Дарим всем предновогоднюю скидку 18%
			.col-12.col-md-6.col-xl-4.col-xxl-5
				.article-preview
					.article-preview__img
						a(href="#")
							img(src="https://picsum.photos/g/520/411")
					.article-preview__info
						span.article-preview__info-col 18%
						span.article-preview__info-col
							b.article-preview__number 13
							span.article-preview__sub-number д.
							b.article-preview__number 15
							span.article-preview__sub-number ч.
							b.article-preview__number 20
							span.article-preview__sub-number мин.
					p Дарим всем предновогоднюю скидку 18%
			.col-12.col-md-6.col-xl-4.col-xxl-5
				.article-preview
					.article-preview__img
						a(href="#")
							img(src="https://picsum.photos/g/520/411")
					.article-preview__info
						span.article-preview__info-col 18%
						span.article-preview__info-col Всегда
					p Оплати онлайн и получи скидку 5%
			.col-12.col-md-6.col-xl-4.col-xxl-5
				.article-preview
					.article-preview__img
						a(href="#")
							img(src="https://picsum.photos/g/520/411")
					.article-preview__info
						span.article-preview__info-col 18%
						span.article-preview__info-col
							b.article-preview__number 13
							span.article-preview__sub-number д.
							b.article-preview__number 15
							span.article-preview__sub-number ч.
							b.article-preview__number 20
							span.article-preview__sub-number мин.
					p Дарим всем предновогоднюю скидку 18%
		.row.justify-content-center
			.col-xl-10.col-xxl-10
				.banner-horizontal
					a(href="#")
						img(src="https://picsum.photos/g/1008/144")
		.row
			.col-12.col-md-6.col-xl-4.col-xxl-5
				.article-preview
					.article-preview__img
						a(href="#")
							img(src="https://picsum.photos/g/520/411")
					.article-preview__info
						span.article-preview__info-col 18%
						span.article-preview__info-col Всегда
					p Дарим всем предновогоднюю скидку 18%
			.col-12.col-md-6.col-xl-4.col-xxl-5
				.article-preview
					.article-preview__img
						a(href="#")
							img(src="https://picsum.photos/g/520/411")
					.article-preview__info
						span.article-preview__info-col 18%
						span.article-preview__info-col Всегда
					p Оплати онлайн и получи скидку 5%
			.col-12.col-md-6.col-xl-4.col-xxl-5
				.article-preview
					.article-preview__img
						a(href="#")
							img(src="https://picsum.photos/g/520/411")
					.article-preview__info
						span.article-preview__info-col 18%
						span.article-preview__info-col Всегда
					p Замша — это бархатистая кожа так называемого жирового дубления.
			.col-12.col-md-6.col-xl-4.col-xxl-5
				.article-preview
					.article-preview__img
						a(href="#")
							img(src="https://picsum.photos/g/520/411")
					.article-preview__info
						span.article-preview__info-col 18%
						span.article-preview__info-col
							b.article-preview__number 13
							span.article-preview__sub-number д.
							b.article-preview__number 15
							span.article-preview__sub-number ч.
							b.article-preview__number 20
							span.article-preview__sub-number мин.
					p Дарим всем предновогоднюю скидку 18%
			.col-12.col-md-6.col-xl-4.col-xxl-5
				.article-preview
					.article-preview__img
						a(href="#")
							img(src="https://picsum.photos/g/520/411")
					.article-preview__info
						span.article-preview__info-col 18%
						span.article-preview__info-col Всегда
					p Оплати онлайн и получи скидку 5%
			.col-12.col-md-6.col-xl-4.col-xxl-5
				.article-preview
					.article-preview__img
						a(href="#")
							img(src="https://picsum.photos/g/520/411")
					.article-preview__info
						span.article-preview__info-col 18%
						span.article-preview__info-col Всегда
					p Замша — это бархатистая кожа так называемого жирового дубления.

		.article-preview__upload
			a(href="#").article-preview__load-more.btn.btn--border Загрузить еще

block js_libs