.footer {

	@media screen and (min-width: $screen-md){
		padding-top: 11px;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		@media screen and (min-width: $screen-md) {
			flex-direction: row;
			justify-content: space-between;
			margin-left: -8px;
			// margin-right: -24px;
		}

		@media screen and (min-width: $screen-xxl) {
			margin-left: 7px;
			width: 1728px;
		}
	}
	&__top {
		@media screen and (min-width: $screen-lg) {
			padding-bottom: 59px;
		}

		@media screen and (min-width: $screen-xl) {
			padding-bottom: 24px;
		}
	}
	&-nav {
		padding-top: 30px;
		padding-bottom: 10px;
		position: relative;
		@include row(32px, 32px, 48px, 24px, 32px, 40px);

		@media screen and (min-width: $screen-md) {
			padding-top: 40px;
			padding-bottom: 25px;
		}
		@media screen and (min-width: $screen-lg) {
			padding-top: 72px;
		}
		@media screen and (min-width: $screen-xl) {
			padding-top: 70px;
		}

		&__title {
			font: 600 13px/1.54 $font-family--lucidagrande;
			margin-bottom: 11px;
			color: #000;
			letter-spacing: -0.2px;
			@media screen and (min-width: $screen-md) {
				font-size: 15px;
				margin-bottom: 10px;
			}
			@media screen and (min-width: $screen-lg) {
				margin-bottom: 28px;
			}
			&--social {
				margin-bottom: 13px;
				font-size: 13px;
				@media screen and (min-width: $screen-md) {
					margin-bottom: 17px;
					font-size: 16px;
				}
				@media screen and (min-width: $screen-xxl) {
					margin-bottom: 25px;
				}
			}
		}

		&__item {
			margin-bottom: 5px;
			@media screen and (min-width: $screen-md) {
				margin-bottom: 0;
			}

			a {
				font-size: 13px;
				line-height: (23 / 13);
				letter-spacing: 0.3px;
				@media screen and (min-width: $screen-md) {
					font-size: 16px;
					line-height: (32 / 16);
					letter-spacing: 0.4px;
				}
				@media screen and (min-width: $screen-lg) {
					line-height: (28 / 16);
				}
			}
		}

		&__col {
			margin-bottom: 29px;
			@include col(xs, 6, 12, 32px);
			@include col(sm, 6, 12, 32px);
			@include col(md, 4, 12, 48px);
			@include col(lg, 2, 12, 24px);
			@include col(xl, 2, 12, 32px);
			@include col(xxl, 2, 15, 40px);

			&:nth-last-child(2), &:last-child {
				margin-bottom: 21px;
				@media (min-width: $screen-md) {
					margin-bottom: 23px;
				}


				@media (min-width: $screen-xl) {
					margin-bottom: 58px;
				}
			}
			@media (min-width: $screen-md) {
				margin-bottom: 38px;
			}
			@media screen and (min-width: $screen-xl) and (max-width: $screen-xxl - 1) {
				&--moving {
					position: absolute;
					bottom: 0;
				}
			}
		}
	}

	&-contact {
		&__phone {
			margin-bottom: 21px;
			font-family: $font-family--montserrat;
			font-weight: 900;
			font-size: 16px;
			line-height: (19 / 16);
			letter-spacing: -0.1px;
			white-space: nowrap;
			color: #000;
			margin-top: 14px;
			@media screen and (min-width: $screen-md) and (max-width: $screen-lg - 1) {
				font-size: 21px;
				line-height: (25 / 21);
				letter-spacing: -0.13px;
			}
			@media screen and (min-width: $screen-lg) and (max-width: $screen-xl - 1) {
				font-size: 16px;
				line-height: (19 / 16);
				letter-spacing: -0.1px;
			}
			@media screen and (min-width: $screen-xl) {
				font-size: 21px;
				line-height: (25 / 21);
				letter-spacing: -0.13px;
			}
		}
		&__online {
			a {
				display: block;
				max-width: 136px;
				font-size: 10px;
				font-weight: 600;
				line-height: 1.6;
				letter-spacing: 0.4px;
				padding: 15px 8px 13px;
				white-space: normal;
				border-width: 2px;
				text-align: left;
				@media screen and (min-width: $screen-md) {
					font-size: 11px;
					max-width: 100%;
					padding-left: 20px;
					padding-right: 20px;
					padding-bottom: 18px;
				}

				@media screen and (min-width: $screen-xl) {
					padding-top: 18px;
					padding-left: 23px;
					padding-bottom: 16px;
				}
			}
		}
	}

	&__bottom {
		padding: 23px 0 27px 0;
		background-color: #282828;
		font-size: 13px;
		line-height: (19 / 14);
		letter-spacing: 0.3px;
		color: #A0A0A0;
		@media screen and (min-width: $screen-md) {
			padding: 27px 32px 30px 32px;
			margin-right: -16px;
			margin-left: -16px;
			font-size: 14px;
		}
		@media screen and (min-width: $screen-lg) {
			display: flex;
			justify-content: space-between;
			margin-right: -8px;
			margin-left: -8px;
			padding-left: 36px;
			padding-right: 36px;
			padding-bottom: 35px;

		}
		@media screen and (min-width: $screen-xl) {
			margin-right: -32px;
			margin-left: -32px;
			padding-left: 68px;
			padding-right: 68px;
		}
		@media screen and (min-width: $screen-xxl) {
			padding-left: 48px;
			padding-right: 48px;
		}

		a {
			display: inline-block;
			vertical-align: top;
			color: #A0A0A0;
		}
	}
	&__bottom-col {
		margin-bottom: 32px;
		&:last-child {
			margin-bottom: 0;
			@media screen and (min-width: $screen-xl) {
				.footer__item:last-child {
					padding-right: 0;
					padding-left: 38px;
				}
			}
		}
		@media screen and (min-width: $screen-md) {
			display: flex;
			margin-right: -18px;
			margin-left: -18px;
		}
		@media screen and (min-width: $screen-xl) {
			margin-bottom: 0;
		}
	}
	&__item {
		display: block;
		margin-bottom: 16px;
		@media screen and (min-width: $screen-md) {
			padding-right: 18px;
			padding-left: 18px;
			margin-bottom: 0;
		}
		@media screen and (min-width: $screen-xl) {
			margin-bottom: 0;
		}
		a {
			display: inline-block;
			vertical-align: baseline;
			color: #fff;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&--offer {
			a {
				margin-right: 24px;
				color: #A0A0A0;
				@media screen and (min-width: $screen-md) {
					margin-right: 36px;
				}

				@media screen and (min-width: $screen-xl) {
					margin-right: 52px;
				}
			}
		}
	}
	&__link {
		margin-right: 4px;
		&--bold {
			font-weight: 600;
			font-family: $font-family--montserrat;
			font-size: 12px;
		}
	}
	&__title-copy {
		margin-right: 4px;
	}
}