mixin field-couner()
	.js-field-counter.field-counter
		button.field-counter__minus.icon-btn.icon-btn--minus(type="button")
		input.field-counter__input(type="text" value="1")
		button.field-counter__plus.icon-btn.icon-btn--plus(type="button")
