// В этом файле должны быть стили для БЭМ-блока .office-history , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 
.timeline-orders {

  &__list {

    margin: 0 auto 17px;
    border-top: 1px solid #E6E6E6;

    @media screen and (min-width: $screen-md) {
      margin-bottom: 42px;
    }

    @media screen and (min-width: $screen-xl) {
      max-width: 856px;
      margin-bottom: 58px;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    padding: 19px 0;
  }

  &__item {
    border-bottom: 1px solid #E6E6E6;

    &.open {

      .timeline-orders {

        &__btn {
          .btn--icon {
            background: #60d3d5;

            polyline {
              stroke: #fff;
            }
          }
        }
      }

    }
  }

  &__btn {
   .btn--icon {
      border: solid 1px #60d3d5;
      transition: all $transition;
   }
  }

  &__data {
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    padding-left: 16px;
    @media screen and (min-width: $screen-md ) {
      padding-left: 0;
    }
    @media screen and (max-width: $screen-md - 1) {
      flex-wrap: wrap;
    }
    @media screen and (min-width: $screen-xxl) {
      max-width: 665px;

    }

    li {
      display: inline-block;
      font-size: 12px;
      letter-spacing: 0.4px;
      line-height: (21 / 12);
      color: #505050;
      padding-left: 10;
      white-space: nowrap;

      @media screen and (max-width: $screen-md - 1) {
        flex: 1 0 33.3333%;
      }

      @media screen and (min-width: $screen-md) {
        font-size: 16px;
        padding-left: 0;
        line-height: (22 / 16);


        &:first-child {
          width: 18%;
          padding-left: 28px;
        }

        &:nth-child(2) {
          width: 20%;
          padding-left: 38px;
        }

        &:nth-child(3) {
          width: 10%;
          padding-left: 28px;
        }

        &:nth-child(4) {
          width: 17%;
          padding-left: 36px;
        }

        &:nth-child(5) {
          width: 17%;
          padding-left: 37px;
        }

        &:nth-child(6) {
          width: 18%;
          padding-left: 31px;
        }
      }

    }
  }

  &-units {

    @media screen and (min-width: $screen-md) {
      padding-left: 60px;
    }

    p {

      margin: 13px 0 16px;
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: 0.3px;
      text-align: left;
      color: #3c3c3c;

      @media screen and (min-width: $screen-md) {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.4px;
        margin: 21px 0 28px;
      }
    }

    &__item {
      background-color: #F8F8F8;
      display: flex;
      align-items: center;
      position: relative;
      padding: 1px 2px;
      font-size: 12px;
      @media screen and (min-width: $screen-md) {
        font-size: 16px;
      }
      &:last-of-type {
        padding-bottom: 2px;

        &::after {
          border: none;
        }
      }
      &:first-of-type {
        padding-top: 2px;
      }


      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 24px;
        left: 122px;
        border-bottom: 1px solid #E6E6E6;
        @media screen and (min-width: $screen-lg) {
          right: 32px;
          left: 126px;
        }
      }

      li {
        &:not(:first-child) {
          margin-left: 32px;
        }
        &:last-child {
          padding-left: 22px;
        }
        &:first-child {
          // max-width: 98px;
          width: 94px;
          height: 94px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            boject-position: center;
          }
        }
      }

    }
  }
}


