mixin insta-gallery()
	.insta-gallery.container
		.row.insta-gallery__header
			h2.h2.col-12.col-md-6.col-lg-3 #ALBA
			.col-md-2.insta-gallery__refresh
				button

		.insta-gallery__content-wrap
			.row.insta-gallery__content
				.col-xxl-3.insta-gallery__link.insta-gallery__link--bigger
					a(href="#insta")
						img(src="https://picsum.photos/450/450?image=18", alt="")
				.col-lg-4.col-xxl-4.insta-gallery__link.insta-gallery__link--bigger
					a(href="#insta")
						img(src="https://picsum.photos/450/450?image=19", alt="")
				.col-lg-4.col-xxl-4.insta-gallery__link.insta-gallery__link--bigger
					a(href="#insta")
						img(src="https://picsum.photos/450/450?image=20", alt="")
				.col-lg-4.col-xxl-4.insta-gallery__inner-wrap
					.row.insta-gallery__inner
						.col-lg-6.col-xxl-7.insta-gallery__link.insta-gallery__link--smaller
							a(href="#insta")
								img(src="https://picsum.photos/450/450?image=21", alt="")
						.col-lg-6.col-xxl-7.insta-gallery__link.insta-gallery__link--smaller
							a(href="#insta")
								img(src="https://picsum.photos/450/450?image=22", alt="")
						.col-lg-12.col-xxl-15.insta-gallery__link.insta-gallery__link--main
							a(href="#insta")
								.insta-gallery__subtitle
									span Подписывайся на @the_alba_shoes в Instagram
									span
								img(src="https://picsum.photos/450/450?image=75", alt="")




