mixin contacts()
	.container
		.contacts
			.row
				.col-12
					.contacts__names
						p Полное наименование юридического лица:  Общество с ограниченной ответственностью "АЛЬБА-Корпорэйшн"
						p Сокращенное наименование юридического лица:  ООО "А-К"
			.row
				.col-12
					ul.contacts__requisites
						li.row
							span.col-6.contacts__requisites-title Телефон горячей линии:
							span.col-6.contacts__requisites-data 8 800-555-00-30
						li.row
							span.col-6.contacts__requisites-title Email:
							span.col-6.contacts__requisites-data csm@the-alba.com
