mixin contacts()
	.container
		.contacts
			.row
				.offset-lg-3.col-12.col-lg-8
					.contacts__names
						p Полное наименование юридического лица:  Общество с ограниченной ответственностью "АЛЬБА-Корпорэйшн"
						p Сокращенное наименование юридического лица:  ООО "А-К"
			.row
				.offset-lg-3.col-12.col-lg-8
					ul.contacts__requisites
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span Телефон горячей линии:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								a(href="tel:88005550030") 8 800-555-00-30
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span Email:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								a(href="mailto:csm@the-alba.com") csm@the-alba.com
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span Центральный офис ALBA:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								| г. Москва, Б. Полянка, дом 50/1 стр.3
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span Тел.:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								a(href="tel:+74992846066") +7(499) 284 60 66
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span Факс:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								a(href="tel:+74992388635") +7(499) 238-86-35
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span Факт. Адрес.:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								| 117218, г. Москва, ул. Новочеремушкинская, д. 23, корп.1
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span Юр. Адрес.:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								| 117218, г. Москва, ул. Новочеремушкинская, д. 23, корп.1
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span ИНН:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								| 7706501820
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span КПП:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								| 772701001
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span ОГРН:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								| 1037739832745
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span ОКПО:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								| 70065892
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span БИК:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								| 044525413
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span Код по ОКВЭД:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								| 52.43.1
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span Банк:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								| КБ "Нацинвестпромбанк" (АО) ГУ Банка России по Центральному федеральному округу
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span Местонахождение банка:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								| 119121, г. Москва, 2-й Неопалимовский пер., дом 10
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span Расчетный счет:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								| 40702810300000001246
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span Корр. счет:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								| 30101810745250000413
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span Генеральный директор:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								| Исаева Надежда Валентиновна
						li.row
							.offset-md-1.offset-lg-0.col-12.col-md-5.col-lg-4.col-xl-3.contacts__requisites-title
								span Главный бухгалтер:
							span.col-12.col-md-6.col-lg-8.contacts__requisites-data
								| Исаева Надежда Валентиновна
