mixin slider-sale()
	.js-slider-sale.slider-sale
		.slider-sale_item
			+product('https://picsum.photos/296/296?image=839', 'Шапка', false, true, false)
		.slider-sale_item
			+product('https://picsum.photos/296/296?image=839', 'Шапка', false, true, false)
		.slider-sale_item
			+product('https://picsum.photos/296/296?image=839', 'Шапка', false, true, false)
		.slider-sale_item
			+product('https://picsum.photos/296/296?image=839', 'Шапка', false, true, false)
		.slider-sale_item
			+product('https://picsum.photos/296/296?image=839', 'Шапка', false, true, false)
		.slider-sale_item
			+product('https://picsum.photos/296/296?image=839', 'Шапка', false, true, false)
		.slider-sale_item
			+product('https://picsum.photos/296/296?image=839', 'Шапка', false, true, false)
		.slider-sale_item
			+product('https://picsum.photos/296/296?image=839', 'Шапка', false, true, false)
		.slider-sale_item
			+product('https://picsum.photos/296/296?image=839', 'Шапка', false, true, false)