// В этом файле должны быть стили для БЭМ-блока .slider-round , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.slider-round {
	@include col(lg, 6, 12, 24px);
	@include col(xxl, 9, 15, 40px);
	margin-bottom: -100px;
	@media (min-width: $screen-md) {
		margin-bottom: 55px;
	}
	@media (min-width: $screen-lg) {
		margin-bottom: 0;
	}
	&__header {
		padding-left: 8px;
		margin-bottom: 20px;
		@media (min-width: $screen-md) {
			margin-bottom: 40px;
			padding-left: 0;
			@include row(0px, 0, 48px, 24px, 32px, 40px);
		}
		align-items: center;
	}
	&__title {
		@include col(md, 6, 12, 48px);
		@include col(lg, 6, 12, 24px);
		@include col(xl, 6, 12, 32px);
		@include col(xxl, 5, 15, 40px);
		margin-bottom: 0;
	}
	&__nav {
		@include col(md, 6, 12, 48px);
		@include col(lg, 6, 12, 24px);
		@include col(xl, 6, 12, 32px);
		@include col(xxl, 6, 15, 40px);


	}
	&__slick {
		padding-left: 8px;
		@media (min-width: $screen-md) {
			@include row(0px, 0, 48px, 24px, 24px,40px);
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-left: 0;
		}
	}

	& .slider-round__slick > .slick-list > .slick-track > .slick-slide {
		width: 44vw;
		margin: 4px;
		@media (min-width: $screen-md) {
			width: auto;
		}
	}
	& .slider-round__slick > .slick-list {
		padding-bottom: 127px;
		@media (min-width: $screen-md) {
			padding-bottom: 0;
		}
	}
	&__item {
		position: relative;
		z-index: 1;
		@include col(md, 6, 12, 48px);
		@include col(lg, 6, 12, 24px);
		@include col(xl, 6, 12, 32px);
		@include col(xxl, 4, 12, 40px);
		&:nth-child(2),
		&:first-child {
			@media (min-width: $screen-md) {
				margin-bottom: 28px;
			}
			@media (min-width: $screen-lg) {
				margin-bottom: 26px;
			}
			@media (min-width: $screen-xl) {
				margin-bottom: 32px;
			}
			@media (min-width: $screen-xxl) {
				margin-bottom: 32px;
			}
		}
		&.show-xxl {
			display: none;
			@media(min-width: $screen-xxl) {
				display: block;
			}
		}
	}
}
