mixin slider-round()
  .slider-round
    .slider-round__header
      h2.slider-round__title В тренде
      //.slider-round__nav
      //  +btnSliderPrev()(class="js-arrow-round-prev")
      //  +btnSliderNext()(class="js-arrow-round-next")
    .js-slider-round.slider-round__slick
      .slider-round__item
        +product('https://picsum.photos/296/296/?image=395', 'Сапожки', false, true, false, true)
      .slider-round__item
        +product('https://picsum.photos/296/296/?image=389', 'Сапожки', false, true, false, true)
      .slider-round__item
        +product('https://picsum.photos/296/296/?image=371', 'Сапожки', false, true, false, true)
      .slider-round__item
        +product('https://picsum.photos/296/296/?image=361', 'Сапожки', false, true, false, true)
      .slider-round__item.show-xxl
        +product('https://picsum.photos/296/296/?image=349', 'Сапожки', false, true, false, true)
      .slider-round__item.show-xxl
        +product('https://picsum.photos/296/296/?image=342', 'Сапожки', false, true, false, true)

