// В этом файле должны быть стили для БЭМ-блока .slider-round , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.slider-round {
	@include col(lg, 6, 12, 0);
	@include col(xxl, 9, 15, 40px);
	&__header {
		padding-left: 8px;
		@media (min-width: $screen-md) {
			padding-left: 0;
			@include row(0px, 0, 48px, 18px, 24px, 40px);
		}
		align-items: center;
	}
	&__title {
		@include col(md, 6, 12, 48px);

	}
	&__nav {
		@include col(md, 6, 12, 48px);
	}
	&__slick {
		padding-left: 8px;
		@media (min-width: $screen-md) {
			@include row(0px, 0, 48px, 18px, 24px, 40px);
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-left: 0;
		}
	}

	& > .slick-list > .slick-track > .slick-slide {
		width: 44vw;
		margin: 4px;
		@media (min-width: $screen-md) {
			width: auto;
		}
	}
	&__item {
		z-index: 1;
		@include col(md, 6, 12, 48px);
		@include col(lg, 6, 12, 24px);
		@include col(xl, 6, 12, 32px);
		@include col(xxl, 4, 12, 40px);
		&.show-xxl {
			display: none;
			@media(min-width: $screen-xxl) {
				display: block;
			}
		}
	}
}