$font-family:                 'Oswald', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-family--montserrat:     'Montserrat', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-family--lucidagrande:     'LucidaGrande', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-family--headings:       $font-family;

$font-size:                  16px;
$font-size-h1:               26px;
$font-size-h2:               26px;
$font-size-h3:               18px;
$font-size-h4:               15px;
$font-size-h5:               1em;
$font-size-h6:               1em;
$font-size--small:           12px;

$opacity:                     0.7;

$text-color: #37342F;
$color_link: #37342F;

$transition: 0.25s;

// bg_colors
$bg_gray_light: #F4F4F4;
$bg_gray_light_dark: #E3E3E3;
$bg_orange: #FFAF00;

//$container-gutter: 80px !default;
//
//$grid-columns: 12;
//$grid-gutter-width: 40px;
//
//$grid-breakpoints: (
//        xs: 0,
//        sm: 768px,
//        md: 1024px,
//        lg: 1366px
//);
//
//$container-max-widths: (
//        sm: 736px,
//        md: 1008px,
//        lg: 1302px
//)