mixin sidenav()
    .sidenav
        .sidenav__list
            .sidenav__item
                a(href="#") Мои данные
            .sidenav__item
                a(href="office-history.html").active История заказов
            .sidenav__item
                a(href="#") Адреса доставки
            .sidenav__item
                a(href="#") Бонусная карта
            .sidenav__item
                a(href="#") Понравилось
            .sidenav__item
                a(href="#") Выйти из аккаунта