// В этом файле должны быть стили для БЭМ-блока .filter , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

//.sorting {
//  display: flex;
//}


.filter {
  z-index: 11;
  background-color: #505054;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  &__inner {
    //width: 100%;
    color: #fff;
    flex: 1;
    padding: 0 22px;
    display: flex;
    align-items: center;
  }

  &__form {
    display: flex;
    align-items: center;

    &--priority {
      padding-right: 48px;

    }
    &--sorting {
      margin-left: auto;
    }
  }

  &__title {
    font-size: 13px;
    padding-right: 7px;
    padding-bottom: 4px;

  }

  &__item,
  &__more {
    &.open {
      > button {
        background-color: #FFF;
        color: #000;
      }
    }
  }

  &__item {
    position: relative;

    > button {
      display: block;
      background-color: transparent;
      border: 0;
      outline: none;
      font-family: $font-family--lucidagrande;
      color: #FFFFFF;
      font-size: 11px;
      font-weight: 700;
      line-height: (16 / 11);
      letter-spacing: 0.4px;
      text-transform: uppercase;
      padding: 16px 18px 16px 12px;
      white-space: nowrap;
      position: relative;

      &:hover {
        color: #1DB4B7;
        &:after {
          //opacity: 1;
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 4px;
        margin-top: auto;
        margin-bottom: auto;
        background: url("../img/svg/arrow-v.svg") no-repeat center center / contain;
        opacity: 0.25;
        width: 10px;
        height: 10px;
      }
    }

    &.open {
      > .filter__dropdown {
        visibility: visible;
        opacity: 1;
        height: auto;

        &:after {
          height: 100%;
          transition: height $transition;
        }

        .filter__dropdown-inner {
          opacity: 1;
          transition: all $transition 0.2s;
        }
      }
    }
  }

  &__dropdown {
    //display: none;
    //background-color: #fff;
    position: absolute;
    top: 100%;
    width: 248px;
    height: 0;
    padding: 24px;
    color: #3C3C3C;
    //box-shadow: 0 32px 64px 0 rgba(0, 2, 14, 0.15);

    //transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all $transition;

    .field-checkbox {
      display: block;
    }

    .field-checkbox,
    .field-radio {
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-color: #fff;
      width: 100%;
      height: 0;
      box-shadow: 0 32px 64px 0 rgba(0, 2, 14, 0.15);
      z-index: 1;
    }
  }

  &__dropdown-inner {
    position: relative;
    opacity: 0;
    z-index: 2;
  }

  &__list {
    display: inline-flex;
  }


  // Список пунктов в "Еще"
  &__more {
    position: relative;
    padding: 7px 0 7px 17px;

    &.as-title {
      padding: 0;
    }

    &.hidden {
      display: none;
    }

    &-btn {
      position: relative;
      padding: 8px 30px 8px 15px;
      font-family: $font-family--lucidagrande;
      font-size: 11px;
      font-weight: 700;
      line-height: (16 / 11);
      background: transparent;
      border: 1px solid rgba(255,255,255, 0.2);
      color: #FFF;
      outline: none;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 14px;
        margin-top: auto;
        margin-bottom: auto;
        background: url("../img/svg/arrow-v.svg") no-repeat center center / contain;
        opacity: 0.25;
        width: 10px;
        height: 10px;
      }


      &:focus {
        outline: none;
      }

      &.as-title {
        font-family: inherit;
        font-weight: inherit;
        text-transform: capitalize;
        font-size: 13px;
        padding-top: 0;
        padding-right: 16px;
        padding-bottom: 4px;
        padding-left: 0;
        border: 0;

        &:after {
          right: 0;
        }
      }


      &.hidden {
        display: none;
      }
    }

    &-dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 3;
      padding: 16px;
      visibility: visible;
      opacity: 1;


      &.hidden {
        visibility: hidden;
        opacity: 0;
        transition: all $transition 0.2s;

        &:after {
          height: 0;
        }

        .filter__more-list {
          opacity: 0;
        }
      }

      &.no-items {
        left: 0;
        right: initial;
      }

      &.no-btn {
        top: calc(100% + 12px);
        left: -22px;
        right: initial;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-color: #505054;
        width: 100%;
        height: 100%;
        box-shadow: 0 32px 64px 0 rgba(0, 2, 14, 0.15);
        z-index: 1;
        transition: height $transition;
      }


    }

    &-list {
      position: relative;
      z-index: 2;
      opacity: 1;
      transition: all $transition 0.2s;
    }
  }


  &__apply {
    width: 100%;
    margin-top: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 11px;
    line-height: (16/11);
    border: 0;
  }
}

