// В этом файле должны быть стили для БЭМ-блока .filter , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

//.sorting {
//  display: flex;
//}


.filter {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 11;
  background-color: #505054;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  transition: all $transition;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #505054;
    transition: all $transition;
  }

  &--fixed {
    @media (min-width: $screen-md) {
      &::before {
        left: -16px;
        right: -16px;
      }
    }

    @media (min-width: $screen-lg) {
      &::before {
        left: -8px;
        right: -8px;
      }
    }

    @media (min-width: $screen-xl) {
      &::before {
        left: -32px;
        right: -32px;
      }
    }
  }

  &--hidden {
    opacity: 0;
  }

  &__inner {
    color: #fff;
    flex: 1;
    padding: 0 22px;
    display: flex;
    align-items: center;
  }

  &__form {
    display: flex;
    align-items: center;

    &--priority {
      padding-right: 48px;

    }
    &--sorting {
      margin-left: auto;

      .filter__dropdown {
        right: 0;
      }
    }
  }

  &__title {
    font-size: 13px;
    padding-right: 7px;
    padding-bottom: 4px;

  }

  &__item,
  &__more {
    &.open {
      > button {
        background-color: #FFF;
        color: #000;

        &::after {
          opacity: 0;

        }
        &:hover {
           color: #000;
          &::after {
            opacity: 0;
          }
        }
      }
    }
  }

  &__item {
    position: relative;

    > button {
      display: block;
      background-color: transparent;
      border: 0;
      outline: none;
      font-family: $font-family--lucidagrande;
      color: #FFFFFF;
      font-size: 11px;
      font-weight: 700;
      line-height: (16 / 11);
      letter-spacing: 0.4px;
      text-transform: uppercase;
      padding: 16px 18px 16px 12px;
      white-space: nowrap;
      position: relative;
      transition: all $transition;

      &:hover {
        color: #1DB4B7;
        &:after {
          opacity: 1;
          background-image: url("../img/svg/arrow-v-blue.svg");
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 4px;
        margin-top: auto;
        margin-bottom: auto;
        background: url("../img/svg/arrow-v.svg") no-repeat center center / contain;
        opacity: 0.4;
        width: 10px;
        height: 10px;
        transition: all $transition;
      }
    }

    &.open {
      > .filter__dropdown {
        visibility: visible;
        opacity: 1;
        height: auto;

        &:after {
          height: 100%;
          transition: height $transition;
        }

        .filter__dropdown-inner {
          opacity: 1;
          transition: all $transition 0.2s;
        }
      }
    }
  }
  &__more.open {
    > .filter__more-dropdown {
      visibility: visible;
      opacity: 1;
      height: auto;
    }
  }

  &__more-dropdown {
    //display: none;
    //background-color: #fff;
    position: absolute;
    top: 100%;
    width: 248px;
    height: 0;
    padding: 24px;
    color: #3C3C3C;
    //box-shadow: 0 32px 64px 0 rgba(0, 2, 14, 0.15);

    //transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all $transition;

    .field-checkbox {
      display: block;
    }

    .field-checkbox,
    .field-radio {
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-color: #fff;
      width: 100%;
      height: 0;
      box-shadow: 0 32px 64px 0 rgba(0, 2, 14, 0.15);
      z-index: 1;
    }
  }

  &__dropdown {
    //display: none;
    //background-color: #fff;
    position: absolute;
    top: 100%;
    width: 248px;
    height: 0;
    padding: 24px;
    color: #3C3C3C;
    //box-shadow: 0 32px 64px 0 rgba(0, 2, 14, 0.15);

    //transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all $transition;

    .field-checkbox {
      display: block;
    }

    .field-checkbox,
    .field-radio {
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-color: #fff;
      width: 100%;
      height: 0;
      box-shadow: 0 32px 64px 0 rgba(0, 2, 14, 0.15);
      z-index: 1;
    }
  }

  &__dropdown-inner {
    position: relative;
    opacity: 0;
    z-index: 2;
  }

  &__list {
    display: inline-flex;
  }


  // Список пунктов в "Еще"
  &__more {
    position: relative;
    padding: 7px 0 7px 14px;

    &.as-title {
      padding: 0;
    }

    &.hidden {
      display: none;
    }

    &-btn {
      position: relative;
      padding: 8px 30px 8px 15px;
      font-family: $font-family--lucidagrande;
      font-size: 11px;
      font-weight: 700;
      line-height: (16 / 11);
      background: transparent;
      border: 1px solid rgba(255,255,255, 0.2);
      color: #FFF;
      outline: none;
      transition: all $transition;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 14px;
        margin-top: auto;
        margin-bottom: auto;
        background: url("../img/svg/arrow-v.svg") no-repeat center center / contain;
        opacity: 0.25;
        width: 10px;
        height: 10px;
        transition: all $transition;
      }

      &:hover {
       background: #1DB4B7;

       &::after {
        opacity: 1;
       }
      }

      &:focus {
        outline: none;
      }

      &.as-title {
        font-family: inherit;
        font-weight: inherit;
        text-transform: capitalize;
        font-size: 13px;
        padding-top: 0;
        padding-right: 16px;
        padding-bottom: 4px;
        padding-left: 0;
        border: 0;
        background: transparent;

        &:after {
          right: 0;
        }

        &:hover {
          color: #1DB4B7;

          &::after {
            background-image: url("../img/svg/arrow-v-blue.svg");
            opacity: 1;
          }
        }
      }


      &.hidden {
        display: none;
      }
    }

    &-dropdown {
      //position: absolute;
      //top: 100%;
      //right: 0;
      //z-index: 3;
      //padding: 16px;
      //visibility: visible;
      //opacity: 1;


      &.hidden {
        visibility: hidden;
        opacity: 0;
        transition: all $transition 0.2s;

        &:after {
          height: 0;
        }

        .filter__more-list {
          opacity: 0;
        }
      }

      &.no-items {
        left: 0;
        right: initial;
      }

      &.no-btn {
        top: calc(100% + 12px);
        left: -22px;
        right: initial;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        width: 100%;
        height: 100%;
        box-shadow: 0 32px 64px 0 rgba(0, 2, 14, 0.15);
        z-index: 1;
        transition: height $transition;
      }


    }

    &-list {
      position: relative;
      z-index: 2;
      opacity: 1;
      transition: all $transition 0.2s;

      .filter__item {

        >button {
          color: #000;

          &::after {
            background-image: url('../img/svg/arrow-v-black.svg');
            opacity: .6;
          }

          &:hover {
            color: #1DB4B7;
            &:after {
              opacity: 1;
              background-image: url("../img/svg/arrow-v-blue.svg");
            }
          }
        }

        &.open {

          > button {

            &::after {
              transform: rotate(180deg);
            }
          }

          .filter__dropdown {
            border: 1px solid rgba(#000, .1);
            left: 40px;
          }
        }
      }
    }

    &.open {

      &.as-title {
        &:hover {
          background: #fff;
        }

        > button {
          box-shadow: -13px -1px 0 13px #fff;
        }
      }

      > button {
        box-shadow: -7px 0 0 7px #fff;

        &::after {
          opacity: 0;

        }
        &:hover {
         color: #000;
         &::after {
          opacity: 0;
        }
      }
    }

    }
  }


  &__apply {
    width: 100%;
    margin-top: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 11px;
    line-height: (16/11);
    border: 0;
  }
}

.sorting {
  &__item {
    display: block;
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}
