



.header {
  margin: 0 auto;
  padding-top: 32px;

  //&__container {
  //  background-color: #fff;
  //}
  //
  //&__top,
  //&__middle {
  //  display: flex;
  //}

  //&__top,
  //&__middle,
  //&__bottom {
  //  @media screen and (min-width: $screen-md) {
  //    padding-left: 32px;
  //    padding-right: 32px;
  //  }
  //  @media screen and (min-width: $screen-lg) {
  //    padding-left: 36px;
  //    padding-right: 36px;
  //  }
  //  @media screen and (min-width: $screen-xl) {
  //    padding-left: 43px;
  //    padding-right: 43px;
  //  }
  //  @media screen and (min-width: $screen-xxl) {
  //    padding-left: 48px;
  //    padding-right: 48px;
  //  }
  //}

  //&__top {
  //  display: none;
  //  background-color: rgba(248,248,248, 0.95);
  //
  //  font-size: 14px;
  //  line-height: (21 / 14);
  //  letter-spacing: 0.4px;
  //  padding-top: 21.5px;
  //  padding-bottom: 21.5px;
  //  border-bottom: 1px solid #E6E6E6;
  //
  //  @media screen and (min-width: $screen-lg) {
  //    display: flex;
  //    align-items: center;
  //    justify-content: space-between;
  //  }
  //}

  //&__middle {
  //  height: 143px;
  //  align-items: center;
  //  justify-content: space-between;
  //
  //  @media screen and (max-width: $screen-lg - 1) {
  //    flex-wrap: wrap;
  //    .nav-gender {
  //      order: 2;
  //      width: 100%;
  //      margin: auto auto 0;
  //    }
  //  }
  //}
  //
  //&__bottom {
  //  border-top: 1px solid #E6E6E6;
  //}

  //&-links {
  //  display: flex;
  //
  //  &__item {
  //    @media screen and (min-width: $screen-lg) {
  //      padding: 0 6px;
  //    }
  //    @media screen and (min-width: $screen-lg) {
  //      padding: 0 9px;
  //    }
  //    @media screen and (min-width: $screen-xl) {
  //      padding: 0 20px;
  //    }
  //    @media screen and (min-width: $screen-xxl) {
  //      padding: 0 32px;
  //    }
  //    //a {
  //    //  display: block;
  //    //}
  //  }
  //}

  //&-login {
  //  .link-login {
  //
  //    @media screen and (min-width: $screen-lg) {
  //      padding: 0 18px;
  //    }
  //    @media screen and (min-width: $screen-xl) {
  //      margin-left: 40px;
  //    }
  //    @media screen and (min-width: $screen-xxl) {
  //      margin-left: 64px;
  //    }
  //  }
  //}
}



.panel-cart {
  background-color: #fff;
  position: relative;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  //box-shadow: 0 32px 64px 0 rgba(0,0,0, 0.15);

  @media screen and (min-width: $screen-md) {
    width: 270px;
  }
  @media screen and (min-width: 1366px) {
    width: 387px;
  }

  &__head {

  }

  &__dropdown {
    button {
      &[data-count-cart],
      &[data-count-favorite] {
        position: relative;


        &:after {
          position: absolute;
          font-size: 11px;
          font-weight: 700;
          line-height: (16 / 11);
          color: #fff;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &[data-count-cart] {
        &:after {
          content: attr(data-count-cart);
          margin-top: 2px;
        }
      }

      &[data-count-favorite] {
        &:after {
          content: attr(data-count-favorite);
        }
      }
    }

    &.open {
      .panel-cart__list {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__list {
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 2;
    box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    visibility: hidden;
    opacity: 0;
  }
  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 16px;

    &:not(:last-child) {
      border-bottom: 1px solid #E6E6E6;
    }
  }
  &__img {
    width: 94px;
    height: 94px;
    text-align: center;
    img {
      max-height: 100%;
    }
  }
  &__title {
    font-family: $font-family--montserrat;
    font-size: 15px;
    font-weight: 700;
    margin-left: 26px;
    span {
      display: block;
    }
    a {
      font-size: 11px;
      color: #20A7A8;
      text-transform: uppercase;
    }
  }
  &__price {
    margin-left: auto;
  }
  &__remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    line-height: 1;
    width: 24px;
    height: 24px;
  }
}

.dropdown {
  position: relative;

  &__body {
    position: absolute;
  }
}




.header {
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__navs {
    background-color: #FFF;
  }

  &__top,
  &__navs {
    position: relative;
  }

  &__navs-genger,
  &__navs-second {
    border-bottom: 1px solid #E6E6E6;
  }

  &__navs-second {
    @media screen and (max-width: $screen-lg - 1) {
      flex-direction: column;
      position: relative;
    }
  }

  &__navs-genger,
  &__navs-second,
  &__navs-main {
    @media screen and (min-width: $screen-md) {
      padding-left: 32px;
      padding-right: 32px;
    }
    @media screen and (min-width: $screen-lg) {
      padding-left: 36px;
      padding-right: 36px;
    }
    @media screen and (min-width: $screen-xl) {
      padding-left: 43px;
      padding-right: 43px;
    }
    @media screen and (min-width: $screen-xxl) {
      padding-left: 48px;
      padding-right: 48px;
    }
  }




  &__navs-second {
    display: flex;
    justify-content: space-between;
    background-color: rgba(248,248,248, 0.95);

    font-size: 14px;
    line-height: (21 / 14);
    letter-spacing: 0.4px;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    border-bottom: 1px solid #E6E6E6;

    @media screen and (max-width: $screen-lg - 1) {
      flex-wrap: wrap;
      padding-left: 16px;
      padding-right: 16px;
    }

    @media screen and (min-width: $screen-lg) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  }

  @media screen and (min-width: $screen-md) {
    &__navs {
      display: flex;
      flex-direction: column;
    }
    &__navs-second {
      position: relative;
    }
    &__navs-genger {
      flex-direction: column;
    }
  }
}