.header {
  margin: 0 auto;
  position: relative;
  z-index: 12;

  &--white {
    .header-mobile {
      @media screen and (max-width: $screen-lg - 1) {
        background-color: #f5f5f5;
      }
    }
    .header-navs {
      background-color: #fff;
      &__second {
        background-color: rgba(255,248,248, 0.95);
        border-bottom: 1px solid #E6E6E6;
      }
      &__gender-inner {
        border-top: 0;
      }
    }

  }

  &--about {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .header-mobile,
    .header-navs__gender,
    .header-navs__main,
    .header-navs__gender-inner {
      border-color: rgba(#000000,.07);
    }

  }

  &--invert {

    .about-header {

      &-bg {
        &::after {
          background-image: linear-gradient(to bottom, rgba(217, 127, 77, 0), rgba(114, 41, 31, 0.5));
        }
      }

      &__nav-item {
        a {
          color: #000;
        }
      }

      @media screen and (min-width: $screen-md) {
        &__nav-item {
          a {
            color: #fff;
          }
        }
        &__title,
        &__subtitle {
          color: #000;
        }
      }
    }

  }

  &--promo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    //&::after {
    //  content: '';
    //  position: absolute;
    //  top: 0;
    //  bottom: 0;
    //  left: 0;
    //  right: 0;
    //  background-image:  linear-gradient(to bottom, rgba(0, 13, 39, 0), rgba(0, 13, 39, 0.75));
    //}

    @media screen and (min-width: $screen-md) {
      left: -16px;
      right: -16px;
    }

    @media screen and (min-width: $screen-lg) {
      left: -8px;
      right: -8px;
    }

    @media screen and (min-width: $screen-xl) {
      left: -32px;
      right: -32px;
    }
  }
}

.panel-cart {
  position: relative;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 15;

  @media screen and (max-width: $screen-md - 1) {
    height: 100%;
    position: static;

    & > span {
      display: none;
    }
  }



  > span {
    // margin-right: 7px;
    @media screen and (min-width: $screen-md) {
      font-size: 14px;
      line-height: (21 / 14);
      letter-spacing: 0.4px;
    }

    @media screen and (min-width: $screen-xl) {
      margin-right: 10px;
    }
  }

  .mobile-nav {
    background-color: transparent;
    width: 52px;
    height: 100%;
    @media screen and (max-width: $screen-lg - 1) {
      display: inline-flex;
      margin-right: -16px;
      margin-left: 6px;
    }
    @media screen and (min-width: $screen-lg) {
      display: none;
    }
  }

  &__head {

  }

  &__dropdown {
    &:nth-of-type(2) {
      margin-left: 11px;
      @media screen and (min-width:$screen-xl){
        margin-left: 5px;
      }
    }
    @media screen and (max-width: $screen-md - 1) {
      height: 100%;
      > .btn--icon {
        height: 100%;
      }
    }
    > .btn--icon {
      background-color: transparent;
      svg {
        opacity: 0.15;
      }

      .icon-svg {
        position: relative;
        height: 24px;

        &:before,
        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          background-color: #60D3D5;

        }
        &:before {
          width: 6px;
          height: 6px;
          border-radius: 6px;
          transform: scale(0);
          transform-origin: top;
          top: 200%;

        }
        &:after {
          top: 50%;
          width: 2px;
          bottom: 0;
          height: 0;
          transition: height 0.2s;
        }
      }

      &[data-count-cart],
      &[data-count-favorite] {
        position: relative;

        svg {
          fill: #60D3D5;
          opacity: 1;
        }

        &:after {
          position: absolute;
          font-size: 11px;
          font-weight: 700;
          line-height: (16 / 11);
          color: #fff;
          top: 56%;
          transform: translateY(-50%);
        }
      }

      &[data-count-cart] {
        &:after {
          content: attr(data-count-cart);
        }
      }

      &[data-count-favorite] {
        .icon-svg {
          svg {
            margin-top: auto;
          }
        }
        &:after {
          content: attr(data-count-favorite);
        }
      }
    }

    &.open {
      .icon-svg {
        &:before {
          transition: transform 0.2s 0.2s;
          transform: scale(1);
        }
        &:after {
          height: 40px;
        }
      }
      .panel-cart__list {
        visibility: visible;
        opacity: 1;
        z-index: -1;
        transform: scale(1);
      }
    }
  }

  &__list {
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 2;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transform-origin: 80% 2%;
    transition: transform 0.2s ease-in-out;
    will-change: transform;
    &:before {
      content: '';
      position: absolute;
      background-color: #fff;
      box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.15);
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      @media screen and (min-width: $screen-md) {
        top: -40px;
      }

      @media screen and (min-width: $screen-lg) {
        top: -80px;
      }
    }
    @media screen and (max-width: $screen-md - 1) {

    }
    @media screen and (min-width: $screen-md) {
      width: 387px;
      right: 0;
    }
    @media screen and (min-width: $screen-lg) {
      width: 387px;
      right: -36px;
    }
    @media screen and (min-width: $screen-xl) {
      right: -43px;
    }
    @media screen and (min-width: $screen-xxl) {
      right: -48px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 16px;
    border-top: 1px solid #E6E6E6;
  }
  &__img {
    width: 94px;
    height: 94px;
    text-align: center;
    overflow: hidden;
    img {
      max-height: 100%;
    }
  }
  &__title {
    font-family: $font-family--montserrat;
    font-size: 15px;
    font-weight: 700;
    margin-left: 26px;
    span {
      display: block;
    }
    a {
      font-size: 11px;
      color: #20A7A8;
      text-transform: uppercase;
    }
  }
  &__price {
    margin-left: auto;

    .price {
      span,
      [data-old-price] {
        font-family: $font-family;
        font-size: 18px;
        font-weight: 300;
        line-height: (24 / 18);
        color: #000000;
      }
    }
  }
  &__remove {
    position: absolute;
    right: 4px;
    top: 4px;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    line-height: 1;
    width: 24px;
    height: 24px;
    opacity: 0.2;
    &:hover {
      opacity: 1;
      outline: none;
      svg {
        fill: #60D3D5;
      }
    }
  }
  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    position: relative;
    border-top: 1px solid #E6E6E6;

    span {
      font-family: $font-family--montserrat;
      font-weight: 700;
      font-size: 15px;
      line-height: (20 / 15);
    }
  }
}

.dropdown {
  position: relative;

  &__body {
    position: absolute;
  }
}




.header {
  @media screen and (min-width: $screen-md) {
    padding-top: 18px;
  }

  @media screen and (min-width: $screen-xl) {
    padding-top: 30px;
  }


  @media screen and (min-width: $screen-xxl) {
    padding-top: 30.5px;
  }

  &-navs {



    @media screen and (max-width: $screen-md - 1) {
      display: none;

      &.open{
        display: block;

        > .header-navs__second {
          display: flex;
        }
      }
    }

     @media screen and (max-width: $screen-lg - 1) {
       &.open {
        >.header-navs__second {
          display: flex;
        }
       }
     }
    @media screen and (min-width: $screen-lg) {
      display: flex;
      flex-direction: column;
    }



    &__gender,
    &__main {
      @media screen and (max-width: $screen-md - 1) {
        border-bottom: 1px solid #E6E6E6;
      }
    }

    &__gender,
    &__second,
    &__main {
      @media screen and (min-width: $screen-md) {
        padding-left: 32px;
        padding-right: 32px;
      }
      @media screen and (min-width: $screen-lg) {
        padding-left: 36px;
        padding-right: 36px;
      }
      @media screen and (min-width: $screen-xl) {
        padding-left: 43px;
        padding-right: 43px;
      }
      @media screen and (min-width: $screen-xxl) {
        padding-left: 48px;
        padding-right: 48px;
      }
    }

    &__gender {
      //@media screen and (min-width: $screen-md) {
      //  flex-direction: column;
      //}
      @media screen and (min-width: $screen-lg) {
        order: 1;
      }

      &-inner {
        @media screen and (min-width: $screen-md) {
          border-top: 1px solid #E6E6E6;
          border-bottom: 1px solid #E6E6E6;
        }
        @media screen and (min-width: $screen-lg) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 146px;
        }
      }
    }

    &__main {
      @media screen and (min-width: $screen-lg) {
        order: 2;
      }
    }

    &__second {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: (21 / 14);
      letter-spacing: 0.4px;
      padding-top: 21.5px;
      padding-bottom: 21.5px;

      @media screen and (max-width: $screen-lg - 1) {
        display: none;
        flex-direction: column;
        position: relative;
        flex-wrap: wrap;
        padding-left: 16px;
        padding-right: 16px;
      }
      @media screen and (min-width: $screen-md) {
        position: relative;
      }
      @media screen and (min-width: $screen-lg) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        order: 0;
      }
     @media screen and (min-width: $screen-xl) {
       padding-bottom: 22px;
     }
    }
  }





  &-mobile {
    border-bottom: 1px solid #E6E6E6;
    @media screen and (max-width: $screen-lg - 1) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media screen and (max-width: $screen-md - 1) {
      padding-left: 16px;
      height: 57px;
      padding-top: 3px;
      margin-bottom: 10px;
    }
    @media screen and (min-width: $screen-md) and (max-width: $screen-lg - 1) {
      padding-left: 32px;
      padding-right: 32px;
      height: 72px;
    }
    @media screen and (min-width: $screen-lg) {
      position: static;
      padding: 0;
      margin: 0;
      height: 0;
      width: 0;
    }
  }

  &__logo {
    width: 95px;
    @media screen and (min-width: $screen-md) {
      width: 121px;
    }
    @media screen and (min-width: $screen-lg) {
      width: 190px;
    }

    @media screen and (min-width: $screen-xl) {
      margin-top: 6px;
    }
  }
  &__cart {
    @media screen and (max-width: $screen-md - 1) {
      height: 100%;
    }
    @media screen and (min-width: $screen-lg) {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      justify-content: space-between;
    }
    .panel-cart {
      @media screen and (min-width: $screen-lg) {
        padding: 20px 0;
      }

      @media screen and (min-width: $screen-lg) {
        padding-left: 12px;
        margin-right: -12px;
      }

    }
    .phone-desktop {
      text-align: right;
      padding-bottom: 26px;
      @media screen and (max-width: $screen-lg - 1) {
        display: none;
      }
    }
    //@media screen and (min-width: $screen-lg) {
    //  .phone-desktop {
    //    position: absolute;
    //    right: 36px;
    //  }
    //}
  }



  &__region span {
    margin-left: 5px;
  }




}