mixin btnSliderPrev()
	button.btn-slider.btn-slider--prev(type="button")&attributes(attributes)
		|<svg width="24" height="6" viewBox="0 0 24 6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3-1.org/1999/xlink">
		| <use xlink:href="#path0_fill-33" transform="matrix(-1 0 0 1 6 0)"/>
		|	<use xlink:href="#path1_fill-33" transform="matrix(-1 0 0 1 24 2)"/>
		|	<defs>
		|		<path id="path0_fill-33" fill-rule="evenodd" d="M6 2.5v1L0 6V0l6 2.5z"/><path id="path1_fill-33" fill-rule="evenodd" d="M0 0h18v2H0V0z"/>
		|	</defs>
		|</svg>

mixin btnSliderNext()
	button.btn-slider.btn-slider--next(type="button")&attributes(attributes)
		|<svg width="24" height="6" viewBox="0 0 24 6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		|	<use xlink:href="#path0_fill-34" transform="translate(18)"/><use xlink:href="#path1_fill-34" transform="translate(0 2)"/>
		|	<defs><path id="path0_fill-34" fill-rule="evenodd" d="M6 2.5v1L0 6V0l6 2.5z"/><path id="path1_fill-34" fill-rule="evenodd" d="M0 0h18v2H0V0z"/></defs>
		|</svg>