// В этом файле должны быть стили для БЭМ-блока .slider-products , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.slider-products {
	padding-top: 37px;
	margin-bottom: -118px;

	&--checkout-page {
		margin-bottom: -170px;
		margin-right: 0;
		margin-left: 0;
		.slick-arrow {
			margin-left: auto;
			bottom: initial;
			top: -66px;
			right: 16px;
			cursor: pointer;
			@media screen and (min-width: $screen-xxl) {
				//right: 127px;
				//top: -102px;
			}
		}
		.slick-slider .slick-prev {
			right: 65px;
			@media screen and (min-width: $screen-xxl) {
				//right: 173px;
			}
		}
	}
	&--page-card {
		.slick-arrow {
			bottom: initial;
			top: -92px;
			right: 67px;
			cursor: pointer;
			@media screen and (min-width: $screen-xxl) {
				right: 127px;
				top: -102px;
			}
		}
		.slick-slider .slick-prev {
			right: 118px;
			@media screen and (min-width: $screen-xxl) {
				right: 173px;
			}
		}
	}
	@media screen and (min-width: $screen-md) {
		margin-bottom: -50px;
		padding-top: 70px;
		//padding-right: 32px;
		//padding-left: 32px;
	}
	@media screen and (min-width: $screen-lg) {
		padding-right: 0;
		padding-left: 0;
		padding-top: 102px;
	}
	@media screen and (min-width: $screen-xxl) {
		padding-top: 129px;
		margin-bottom: -40px;
	}
	//.slick-list {
	//	margin-right: -4px;
	//	margin-left: -4px;
	//	@media screen and (min-width: $screen-md) {
	//		margin-right: -48px;
	//		margin-left: -48px;
	//	}
	//	@media screen and (min-width: $screen-md) {
	//		margin-right: -52px;
	//		margin-left: -52px;
	//	}
	//}
	&__nav {
		margin-bottom: 21px;
		@media screen and (min-width: $screen-md) {
			margin-bottom: 30px;
			padding-right: 26px;
		}
		@media screen and (min-width: $screen-lg) {
			margin-bottom: 56px;
		}
		@media screen and (min-width: $screen-xxl) {
			margin-bottom: 69px;
		}
	}
	&__nav-inner {
		//@media screen and (min-width: $screen-md) {
		//	padding: 0;
		//}
	}
	&__tab {
		//display: block !important;

		&:not(:first-child) {
			//display: none !important;
		}
		@media screen and (min-width: $screen-md) {
			//padding-right:16px;
			//padding-left:16px;
		}
		@media screen and (min-width: $screen-lg) {
			padding-right: 0;
			padding-left: 0;
			margin: 0 -8px;
			margin: 0 -44px; // отступ контейнера (36) + отступ у body (8)
		}
		@media screen and (min-width: $screen-xl) {
			margin: 0 -75px; // отступ у body (32px) + ширина вылезающей части слайда (43px)
		}
		@media screen and (min-width: $screen-xxl) {
			margin: 0 -140px; // отступ контейнера + отступ у body
		}
	}
	&__inner {
		@media screen and (min-width: $screen-md) {
			padding: 0;
		}
		@media screen and (min-width: $screen-lg) {
			width: auto;
			margin-right: 36px; // отступ контенера
			margin-left: 36px; // отступ контенера
		}
		@media screen and (min-width: $screen-xl) {
			margin-right: 43px; // отступ контенера
			margin-left: 43px; // отступ контенера
		}
		@media screen and (min-width: $screen-xxl) {
			margin-right: 108px; // отступ контенера
			margin-left: 108px; // отступ контейнера
		}
	}
	&__item {

		&:first-child {
			padding-left: 0;
		}
		@media (min-width: $screen-lg) {
			padding-right: 14px;
			padding-left: 14px;
		}
		@media (min-width: $screen-xxl) {
			padding-right: 25px;
			padding-left: 25px;
		}
	}
	&__link {
		font-size: 16px;
		text-transform: none;
		letter-spacing: 0;
		&.active {
			font-weight: 900;
		}
		@media screen and (min-width: $screen-md) {
			font-size: 26px;
			line-height: 1.31;
			padding-right: 20px;
		}
	}
	.product {
		max-width: 100%;
		margin-left: 0;
		margin-bottom: 50px;
		@media screen and (min-width: $screen-md) {
			width: 100%;
		}
	}
}