mixin about-teach()
	.about-teach
		.about-teach__row-wrap
			.about-teach__row
				h2.col-12.col-md-4.col-xl-2.about-teach__title ПРЕИМУЩЕСТВА НАШЕГО ОБУЧЕНИЯ
				.col-12.col-md-8.about-teach__col
					ul
						li Методики и учебные программы составлены таким образом, чтобы теоретические части программы находили подтверждение в ежедневных практических занятиях.

						li Обучение по программе ДПО «Продавец-кассир»  проводится с привлечением преподавательского состава самого высокого уровня.

						li Применение аудио/видео техники с методическими материалами, оснащение мест для проведения практических занятий.

						li Просторное комфортное помещение для обучения и отдыха.

						li Современные методики, успешный опыт преподавания, индивидуальный подход  к каждому обучающемуся, квалифицированные преподаватели – залог успеха Учебного центра ООО «А-К» и ее выпускников.

		.about-teach__row
			h2.col-12.col-md-4.col-xl-2.about-teach__title СВЕДЕНИЯ ОБ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ.
			.col-12.col-md-8.about-teach__col
				p Общество с ограниченной ответственностью «АЛЬБА-Корпорэйшн» (ООО «А-К») является организацией дополнительного профессионального образования, реализующей на основе своего Учебного центра собственные дополнительные профессиональные образовательные программы, основной из которых является дополнительное профессиональное образование по программе «Продавец-кассир ALBA».

				p Общество с ограниченной ответственностью «АЛЬБА-Корпорэйшн» (ООО «А-К») имеет бессрочную лицензию Департамента образования г. Москвы «02» июня 2015 года № 036237 на осуществление образовательной деятельности с правом оказывать образовательные услуги по реализации образовательных программ по дополнительному профессиональному образованию.

				p Лицам, успешно прошедшим обучение по основной программе дополнительного профессионального образования «Продавец-кассир ALBA», выдается именной   Сертификат.
		.about-teach__row
			h2.col-12.col-md-4.col-xl-2.about-teach__title ОСНОВНЫЕ СВЕДЕНИЯ
			.col-12.col-md-8.about-teach__col
				p Общество с ограниченной ответственностью «АЛЬБА-Корпорэйшн» (сокращенное наименование: ООО «А-К»), является юридическим лицом, зарегистрированным в МИ МНС России № 39 по г. Москве 21.08.2003г. за ОГРН 1037739832745, ИНН 7706501820, КПП 772701001, с местом нахождения по адресу: 117218, г. Москва, ул. Новочеремушкинская, д. 23, корп.1.

				p
					span Место нахождения Учебного центра ООО «А-К»: г. Москва, МКАД, 14 км, стр.10.
					span График работы: с 09-00 до 18-00.
					span Телефон:
						a(href="tel:88005550030")  8 800 555 00 30.
					span Электронная почта:
						a(href="mailto:imunirova@the-alba.com")  imunirova@the-alba.com
					span Информация об учредителе ООО «А-К» - см. Выписку из ЕГРЮЛ.
		.about-teach__row
			h2.col-12.col-md-4.col-xl-2.about-teach__title СТРУКТУРА И ОРГАНЫ УПРАВЛЕНИЯ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИЕЙ
			.col-12.col-md-8.about-teach__col
				p
					span Руководитель ООО «А-К» - генеральный директор ООО «А-К» Исаева Надежда Валентиновна.
					span Главный бухгалтер ООО «А-К» - Исаева Надежда Валентиновна.
					span Руководитель Учебного центра ООО «А-К» - Мунирова Ирина Салаватовна.
					span Место нахождения ООО «А-К» (юридический адрес): 117218, г. Москва, ул. Новочеремушкинская, д. 23, корп.1.
					span Место нахождения Учебного центра ООО «А-К»: г. Москва, МКАД, 14 км, стр.10.
		.about-teach__row
			h2.col-12.col-md-4.col-xl-2.about-teach__title ДОКУМЕНТЫ
			.col-12.col-md-8.about-teach__col
				p Локальные нормативные акты ООО «А-К» по основным вопросам организации и осуществления образовательной деятельности в УЦ ООО «А-К»
		.about-teach__row
			h2.col-12.col-md-4.col-xl-2.about-teach__title ОБРАЗОВАНИЕ
			.col-12.col-md-8.about-teach__col
				p Общество с ограниченной ответственностью «АЛЬБА-Корпорэйшн» (ООО «А-К») имеет бессрочную лицензию Департамента образования г. Москвы «02» июня 2015 года № 036237 на осуществление образовательной деятельности с правом оказывать образовательные услуги по реализации образовательных программ по дополнительному профессиональному образованию.

				p Лицам, успешно прошедшим обучение по основной программе дополнительного профессионального образования «Продавец-кассир ALBA», выдается именной   Сертификат, дающий право трудоустройства на работу в ООО «А-К».

				p Срок обучения по основной программе дополнительного профессионального образования «Продавец-кассир ALBA» - 3 месяца.

				p Подробная информация о поступлении, прохождении и окончании обучения – см. Локальные нормативные акты ООО «А-К» по основным вопросам организации и осуществления образовательной деятельности в УЦ ООО «А-К».
		.about-teach__row
			h2.col-12.col-md-4.col-xl-2.about-teach__title РУКОВОДСТВО. ПЕДАГОГИЧЕСКИЙ (НАУЧНО-ПЕДАГОГИЧЕСКИЙ) СОСТАВ
			.col-12.col-md-8.about-teach__col
				p
					span Руководитель ООО «А-К» - генеральный директор ООО «А-К» Исаева Надежда Валентиновна.
					span Главный бухгалтер ООО «А-К» - Исаева Надежда Валентиновна.
					span Руководитель Учебного центра ООО «А-К» - Мунирова Ирина Салаватовна.
					span График работы: с 09-00 до 18-00.
					span Телефон: 8 800 555 00 30.
					span Электронная почта: imunirova@the-alba.com
					span Состав педагогических работников – см.   Выписку из штатного расписания УЦ ООО «А-К».
		.about-teach__row
			h2.col-12.col-md-4.col-xl-2.about-teach__title МАТЕРИАЛЬНО-ТЕХНИЧЕСКОЕ ОБЕСПЕЧЕНИЕ И ОСНАЩЕННОСТЬ ОБРАЗОВАТЕЛЬНОГО ПРОЦЕССА
			.col-12.col-md-8.about-teach__col
				p Материально-техническое обеспечение образовательной деятельности ООО «А-К» основывается на собственном, специально оборудованном  Учебном центре, включающем места и условия для проведения практических занятий, наличие библиотеки, средств обучения и воспитания, условия питания и охраны здоровья обучающихся, доступа к информационным системам и информационно-телекоммуникационным сетям, электронным образовательным ресурсам, к которым обеспечивается доступ обучающихся, создание необходимых условий для охраны и укрепления здоровья, организации питания обучающихся и работников образовательной организации, помещение, соответствующее условиям и требованиям для осуществления медицинской деятельности.
		.about-teach__row
			h2.col-12.col-md-4.col-xl-2.about-teach__title СТИПЕНДИИ И ИНЫЕ ВИДЫ МАТЕРИАЛЬНОЙ ПОДДЕРЖКИ
			.col-12.col-md-8.about-teach__col
				p Лицам, проходящим обучение по основной программе дополнительного профессионального образования «продавец-кассир alba» выплачивается ежемесячная стипендия в размере 17 500 рублей.
		.about-teach__row
			h2.col-12.col-md-4.col-xl-2.about-teach__title ФИНАНСОВО-ХОЗЯЙСТВЕННАЯ ДЕЯТЕЛЬНОСТЬ
			.col-12.col-md-8.about-teach__col
				p Отчет ООО «А-К» о финансово-хозяйственной деятельности за период 2015г. по образовательной деятельности.
