mixin product(pathImg, title, badgeNew, badgeSale, badgeWinter, hover)
	.product(class=className)
		a(href="").product__gallery
			.brazzers
				img(src="https://www.the-alba.com/upload/resize_cache/iblock/615/1000_1000_1/1103048201311_2-min.jpg")
				img(src="https://www.the-alba.com/upload/resize_cache/iblock/0b3/1000_1000_1/1103048201311_3-min.jpg")
				img(src="https://www.the-alba.com/upload/resize_cache/iblock/a3c/1000_1000_1/1103048201311_4-min.jpg")
			if (badgeNew || badgeSale || badgeWinter)
				.product__badges
					if (badgeNew)
						span.badge.badge--new new
					if (badgeSale)
						span.badge.badge--sale %
					if (badgeWinter)
						span.badge.badge--winter

			button(type="button").product__view.btn-icon.btn-icon--black.btn-icon--large
				span.icon-svg
					| <svg xmlns="http://www.w3.org/2000/svg" width="40" height="22" viewBox="0 0 40 22"><path fill="#FFF" d="M39.997 10.928L40 11c0 .025 0 .049-.002.073 0 .016-.002.032-.004.047 0 .008 0 .016-.002.024 0 .012-.003.024-.004.035a.702.702 0 0 1-.007.046c-.049.3-.195.583-.418.8-.419.484-.878.938-1.339 1.384-2.492 2.406-5.352 4.552-8.483 6.109-2.001.994-4.139 1.797-6.357 2.183-2.438.424-4.879.403-7.304-.1-4.197-.867-7.999-3.022-11.324-5.6-1.543-1.196-3.061-2.505-4.337-3.976-.559-.644-.559-1.406 0-2.05.419-.484.878-.938 1.339-1.383C4.25 6.185 7.11 4.039 10.24 2.482 12.242 1.488 14.38.685 16.598.3a19.394 19.394 0 0 1 7.304.099c4.197.868 7.999 3.024 11.323 5.6 1.543 1.196 3.061 2.506 4.337 3.977a1.444 1.444 0 0 1 .42.806l.005.04.005.035c0 .007 0 .016.002.024l.003.048zM20 18.488c4.25 0 7.696-3.352 7.696-7.488 0-4.136-3.446-7.488-7.696-7.488S12.304 6.865 12.304 11c0 4.136 3.445 7.488 7.696 7.488zm0-5.01c-1.407 0-2.548-1.11-2.548-2.478 0-1.369 1.14-2.479 2.548-2.479 1.407 0 2.547 1.11 2.547 2.479s-1.14 2.479-2.547 2.479z"/></svg>
		.product__info
			span.product__name= title
			.price
				span(data-old-price="4839") 12 490 руб.

		if (hover)
			.product__info-hover
				.product__info-hover-inner
					.product__select
						.product__sizes
							span Размер
							.sizes
								.sizes__list
									label.sizes__item.sizes__item--orange
										input(type="radio" name="size")
										span 36
									label.sizes__item.sizes__item--orange
										input(type="radio" name="size")
										span 37
									label.sizes__item.sizes__item--blue
										input(type="radio" name="size")
										span 38
									label.sizes__item.sizes__item--green
										input(type="radio" name="size")
										span 39
						button(type="button").btn-icon.btn-icon--blue
							| <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 20 24">
							| 	<g fill="none" fill-rule="evenodd" transform="translate(0 1)">
							| 		<polygon fill="#fff" points="1.935 5.111 0 23 20 23 18.065 5.111"/>
							| 		<path stroke="#fff" stroke-width="1.8" d="M8.065 10.222V2.556S8.065.319 10 .319s1.935 2.237 1.935 2.237v7.666"/>
							| 	</g>
							| </svg>
					ul.product__desc
						li
							span Сезон
							span демисезон
						li
							span Материал
							span натуральная кожа, теленок
						li
							span Подкладка
							span мех