mixin features()
  section.features
    ul.features__list
      li.features__item
        .features__icon
          | <svg width="88" fill="#fff" height="88" viewbox="0 0 88 88" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          |   <use xlink:href="#path0_fill" />
          |   <use xlink:href="#path1_fill" transform="translate(21 27)"/>
          |   <defs>
          |   <path id="path0_fill" fill="#fff" fill-rule="evenodd" d="M0 44C0 19.7 19.7 0 44 0s44 19.7 44 44-19.7 44-44 44S0 68.3 0 44z"/>
          |   <path id="path1_fill" fill-rule="evenodd" d="M41 0L24.956 41l-7.629-17.327L0 16.043 41 0z"/>
          |   </defs>
          | </svg>
        .features__info
          h3.features__title Удобная доставка
          p.features__desc 5 способов
            | <br/> Бесплатно от 5000 &#8381;
      li.features__item
        .features__icon
          | <svg width="88" height="88" viewbox="0 0 88 88" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          |   <use xlink:href="#path0_fill-2" />
          |   <use xlink:href="#path1_fill-2" transform="translate(21.87 22)" fill="#1A1919"/>
          |   <defs>
          |     <path id="path0_fill-2" fill="#fff" fill-rule="evenodd" d="M0 44C0 19.7 19.7 0 44 0s44 19.7 44 44-19.7 44-44 44S0 68.3 0 44z"/>
          |     <path id="path1_fill-2" fill-rule="evenodd" d="M23.132 34.825L9.535 42l2.597-15.196-11-10.761 15.202-2.217L23.132 0l6.798 13.825 15.202 2.218-11 10.761L36.73 42l-13.597-7.175z"/>
          |   </defs>
          | </svg>
        .features__info
          h3.features__title Бонусная система
          p.features__desc Растущая скидка для постоянных клиентов

      li.features__item
        .features__icon
          | <svg width="88" height="88" viewbox="0 0 88 88" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          |   <use xlink:href="#path0_fill-3" />
          |   <use xlink:href="#path1_fill-3" transform="translate(23 22)"/>
          |   <defs>
          |     <path id="path0_fill-3" fill="#fff" fill-rule="evenodd" d="M0 44C0 19.7 19.7 0 44 0s44 19.7 44 44-19.7 44-44 44S0 68.3 0 44z"/>
          |     <path id="path1_fill-3" fill-rule="evenodd" d="M16.124 33H0v10h44V33H26.715v-7.229c3.026-.954 5.674-2.545 7.88-4.772 2.27-2.227 3.405-4.9 3.405-8.018 0-4.136-1.513-7.381-4.602-9.608C30.372 1.145 26.715 0 22.365 0 17.195 0 12.72 1.209 9 3.69v9.8c4.098-2.227 7.943-3.373 11.474-3.373 4.098 0 6.115 1.21 6.115 3.691 0 1.59-1.071 2.99-3.152 4.2-2.08 1.209-4.54 2.036-7.313 2.545V33z"/>
          |   </defs>
          | </svg>
        .features__info
          h3.features__title Предоплата не нужна
          p.features__desc Вначале примерка, только потом оплата

      li.features__item
        .features__icon
          | <svg width="88" height="88" viewbox="0 0 88 88" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          |   <use xlink:href="#path0_fill-4" />
          |   <use xlink:href="#path1_fill-4" transform="translate(26 23)"/>
          |   <defs>
          |     <path id="path0_fill-4" fill="#fff" fill-rule="evenodd" d="M0 44C0 19.7 19.7 0 44 0s44 19.7 44 44-19.7 44-44 44S0 68.3 0 44z"/>
          |     <path id="path1_fill-4" fill-rule="evenodd" d="M18.5 42c-3.618 0-6.818-.832-9.6-2.496-2.782-1.664-4.96-4.074-6.536-7.23C.788 29.12 0 25.362 0 21c0-4.36.788-8.119 2.364-11.275C3.939 6.57 6.118 4.16 8.9 2.495 11.682.833 14.882 0 18.5 0c3.618 0 6.818.832 9.6 2.496 2.782 1.664 4.96 4.074 6.536 7.23C36.212 12.88 37 16.638 37 21c0 4.36-.788 8.119-2.364 11.275-1.575 3.155-3.754 5.565-6.536 7.23C25.318 41.167 22.118 42 18.5 42zm0-10.844c3.112 0 4.669-3.386 4.669-10.156 0-6.77-1.557-10.156-4.67-10.156-3.112 0-4.668 3.386-4.668 10.156 0 6.77 1.556 10.156 4.669 10.156z"/>
          |   </defs>
          | </svg>
        .features__info
          h3.features__title Бесплатная примерка
          p.features__desc Вы легко вернете товар, если он вам не подойдет


