// В этом файле должны быть стили для БЭМ-блока .product-info , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.product-info {
	@media (min-width: $screen-md) {
		@include col(md, 6, 12, false);
		padding-right: 24px;
		padding-left: 44px;
	}
	@media screen and (min-width: $screen-lg) and (max-width: $screen-xl) {
		order: 2;
	}
	@media screen and (min-width: $screen-lg) {
		padding-right: 44px;
	}
	@media screen and (min-width: $screen-xl) {
		padding-left: 70px;
		padding-right: 42px;
		max-width: 394px;
		width: 100%;
		height: 757px;
		position: absolute;
		top: 0;
		right: 0;
		border-left: 1px solid #E6E6E6;
	}

	@media screen and (min-width: $screen-xxl) {
		height: 832px;
		right: 80px;
	}
	.price {
		margin-left: auto;
		@media screen and (min-width: $screen-md) {
			margin-top: 32px;
		}
		@media screen and (min-width: $screen-xl) {
			margin-top: 66px;
		}
		@media screen and (min-width: $screen-xxl) {
			margin-top: 98px;
		}
		[data-old-price] {
			font-weight: 600;
			font-size: 13px;
			line-height: 2;
			@media screen and (min-width: $screen-md) {
				font-size: 21px;
				line-height: 1.24;
				letter-spacing: -0.2px;
			}
		}
 	}
	&__header {
		display: flex;
		justify-content: space-between;
		padding-top: 26px;
		@media (min-width: $screen-md) {
			padding-top: 56px;
		}
		@media (min-width: $screen-xl) {
			margin-bottom: 5px;
			padding-top: 67px;
		}
	}
	&__code {
		margin-right: 10px;
	}
	&__title {
		margin-bottom: 7px;
		font-family: $font-family--montserrat;
		font-size: 16px;
		font-weight: 900;
		line-height: 1.25;
		color: #000;
		@media (min-width: $screen-md) {
			font-size: 26px;
		}
		@media (min-width: $screen-xl) {
			line-height: 1.31;
			margin-bottom: 2px;
		}
	}
	&__id {
		margin-bottom: 16px;
		font-size: 12px;
		letter-spacing: 0.3px;
		color: #3c3c3c;
		@media (min-width: $screen-md) {
			font-size: 13px;
		}
	}
	&__option {
		display: block;
		margin-bottom: 18px;
		color: #000000;
		font: 600 11px/1.45 $font-family--montserrat;
		letter-spacing: 0.4px;
		text-transform: uppercase;
	}
	&__color {
		margin-bottom: 25px;
		@media screen and (min-width: $screen-md) {
			margin-bottom: 32px;
		}
		img {
			width: 44px;
			@media screen and (min-width: $screen-md) {
				width: 48px;
			}
		}
	}
	&__discount {
		display: none;
		position: absolute;
		top: 0;
		right: -32px;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		background-color: #60d3d5;
		font-family: $font-family--montserrat;
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		color: #fff;

		@media screen and (min-width: $screen-md) {
			display: flex;
			right: -16px;
		}
		@media screen and (min-width: $screen-lg) {
			right: -8px;
		}
		@media (min-width: $screen-xl) {
			right: 361px;
		}
	}
	.sizes {
		margin-bottom: 34px;
	}
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 312px;
		margin-bottom: 33px;

	}
	&__in-cart {
		flex-grow: 1;
		margin-right: 16px;
		font-weight: 600;
		@media screen and (min-width: $screen-md) {
			max-width: 256px;
		}
	}
	&__reservation {
		font-weight: 600;
		margin-top: 16px;
	}
	&__delivery {
		p {
			margin-bottom: 5px;
			font-size: 12px;
			font-weight: 300;
			line-height: 1.5;
			color: #3c3c3c;
			@media screen and (min-width: $screen-md) {
				font-size: 14px;
			}
			@media screen and (min-width: $screen-md) {
				margin-bottom: 2px;
				letter-spacing: 0.4px;
			}
		}
		a {
			display: inline-block;
			margin-bottom: 16px;
			padding-right: 15px;
			font: 600 10px/1.45 $font-family--montserrat;
			letter-spacing: 0.4px;
			color: #a0a0a0;
			text-transform: uppercase;
			background: url(../img/svg/arrow-h.svg) right center no-repeat;
			background-size: 5px 6px;
			&:hover {
				color: #60D3D5;
			}
			@media screen and (min-width: $screen-md) {
				margin-bottom: 14px;
				font-size: 11px;
			}
		}
	}
}